*:focus {
  outline: none;
}
html,
body {
  height: auto;
}
body {
  background-color: #636467;
}
nav#menu-left {
  display: none;
}
/* Colours */
.grid-divider {
  font-family: "Georgia", serif;
  font-size: 2.25rem;
  color: #333333;
  width: 100%;
  text-align: center;
  border-bottom: 0.0625rem solid #333333;
  margin-top: 0.625rem;
  margin-bottom: 1.5625rem;
}
.upper-left-toggle {
  position: fixed;
  z-index: 15;
  display: block;
  background: url('../img/logo-md-white.png') no-repeat;
  width: 8.625rem;
  height: 6.875rem;
  color: transparent;
  border: none;
  margin: 0.625rem 0 0 0.625rem;
  transition: all .5s ease 0s;
  transition-delay: .5s;
  -webkit-transition-delay: 0.5s;
}
.text-shadow {
  text-shadow: 0 0 0.125rem #333333;
}
.container-shadow {
  background-color: #fff;
  z-index: 2;
  min-height: 100%;
  position: relative;
}
.margin-fix {
  margin-top: -45px;
}
.review-fix {
  margin-bottom: 45px;
}
#nav-test {
  display: block;
  /* margin-top: -100px; */
  height: 120px;
  position: fixed;
  z-index: 0;
  width: 275px;
  padding-top: 40px;
  text-align: center;
}
img.side-home-link {
  height: 70px;
  width: 166px;
  display: block;
  margin: 0 auto;
}
#menu-left {
  top: 120px;
}
img.hero-image {
  z-index: 0;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 31.25rem;
}
@media only screen and (max-width: 640px) {
  img.hero-image {
    height: 26.875rem;
  }
}
.hero-container {
  position: relative;
  padding: 0;
}
div.hero-title {
  z-index: 1;
  top: 60%;
  left: 0;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: absolute;
}
.hero-title h1 {
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 2.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0 0 2px #333333;
  text-align: center;
  bottom: 50px;
  position: absolute;
  width: 90%;
}
@media only screen and (max-width: 640px) {
  .hero-title h1 {
    color: #333333;
  }
}
.hero-title h2.author,
.hero-title h2.addressee,
.hero-title h2.star-rating {
  font-size: 1rem;
  line-height: 1rem;
  color: #ffffff;
  text-transform: none;
  text-shadow: 0 0 2px #333333;
  font-family: "Georgia", serif;
  margin-bottom: 0.625rem;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .hero-title h2.author,
  .hero-title h2.addressee,
  .hero-title h2.star-rating {
    color: #333333;
  }
}
.hero-title-text {
  text-align: center;
  bottom: 50px;
  position: absolute;
  width: 90%;
}
#hero-home {
  height: 500px;
  margin-bottom: 45px;
}
.home-title-height {
  height: 500px;
}
h1.hero-home {
  color: #ffffff;
  font-size: 6.25rem;
  line-height: 4.375rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  text-shadow: 0 0 2px #333333;
}
h2.hero-addressee-home {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 0.875rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  text-shadow: 0 0 2px #333333;
}
h2.hero-author-home {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "Georgia", serif;
  text-shadow: 0 0 2px #333333;
  font-style: italic;
}
.large-star-rating-home {
  display: block;
  color: #59c2ef;
  font-size: 1.5rem;
  letter-spacing: 0.3125rem;
  margin-top: 1.25rem;
}
@media only screen and (max-width: 640px) {
  .large-star-rating-home {
    border-top: 1px solid #fff;
  }
}
.star-large {
  display: inline;
  height: 1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  -webkit-filter: drop-shadow(0 0 0.125rem #939598);
  filter: drop-shadow(0 0 0.125rem #939598);
}
@media only screen and (max-width: 640px) {
  .star-large {
    height: 1.25rem;
  }
}
.star-small {
  display: inline;
  height: 1.125rem;
  margin-right: 0.3125rem;
  -webkit-filter: drop-shadow(0 0 0.125rem #939598);
  filter: drop-shadow(0 0 0.125rem #939598);
}
.post-image {
  position: relative;
}
.post-image img {
  z-index: 0;
}
.corner-stamp {
  background: url('../img/global/stamp-white.svg') no-repeat 0px 0px;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  -webkit-filter: drop-shadow(0 0 0.125rem #939598);
  filter: drop-shadow(0 0 0.125rem #939598);
}
.small-star-rating {
  position: absolute;
  display: block;
  color: #59c2ef;
  font-size: 1.125rem;
  letter-spacing: 0.3125rem;
  bottom: 0.9375rem;
  left: 0.9375rem;
  z-index: 2;
}
.post {
  margin-bottom: 1.25;
  min-height: 15.625rem;
}
.post-list {
  margin-bottom: 3.75rem;
  min-height: auto;
}
div.review-text {
  padding: 0;
  margin-top: .6rem;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
div.review-text h1 {
  font-size: 1.125rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  line-height: 0.9375rem;
  color: #000000;
  margin: 0;
}
div.review-text h2.author {
  font-size: 0.75rem;
  font-family: "Georgia", serif;
  color: #939598;
  margin: 0;
  font-style: italic;
}
div.review-text h2.star-rating {
  font-size: 0.75rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  color: #939598;
  margin: 0;
  font-weight: 750;
}
div.review-text h2.addressee {
  font-size: 0.75rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  color: #939598;
  margin: 0;
  font-weight: bold;
}
.post-list {
  margin-bottom: 2.5rem;
}
.home-feature {
  margin-bottom: 3rem;
}
div.review-text p,
div.review-text h2.star-rating {
  font-size: 0.75rem;
  font-family: "Georgia", serif;
  font-weight: 200;
  line-height: 1.125rem;
  color: #333333;
  margin-top: 0.3125rem;
}
p {
  font-family: "Georgia", serif;
  color: #333333;
}
a:hover {
  text-decoration: none;
}
.more-reviews {
  font-family: "Georgia", serif;
  font-size: 2.25rem;
  color: #333333;
  width: 100%;
  text-align: center;
  border-bottom: 0.0625rem solid #333333;
  margin-top: 0.625rem;
  margin-bottom: 1.5625rem;
}
.load-posts-div,
.goto-posts-div {
  text-align: center;
}
.load-posts-button {
  background-color: #eeeeee;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border: 0.125rem solid #cccccc;
  padding-right: 4.6875rem;
  padding-left: 4.6875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-size: 0.875rem;
  letter-spacing: .1rem;
  margin-bottom: 0.9375rem;
  color: #666666;
  font-weight: 500;
  text-transform: uppercase;
  display: inline;
}
.goto-posts-button {
  background-color: #eeeeee;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border: 0.125rem solid #cccccc;
  padding-right: 4.6875rem;
  padding-left: 4.6875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-size: 0.875rem;
  letter-spacing: .1rem;
  margin-bottom: 0.9375rem;
  color: #666666;
  font-weight: 500;
  text-transform: uppercase;
  display: none;
}
.row-bottom-margin {
  margin-bottom: 2.8125rem;
}
div.film-credits {
  background-color: #cccccc;
  margin-bottom: 1.5625rem;
  min-height: 12.5rem;
  position: relative;
  padding-top: 0.625rem;
}
div.film-credits h1 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  color: #000000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}
article h1.film-credits-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  color: #000000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}
article h2.film-credits-description {
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 100;
  color: #636466;
  display: block;
  text-align: left;
  margin-left: 0.625rem;
}
div.film-credits article a {
  margin-left: 0.625rem;
}
div.film-credits-nav {
  text-align: center;
  background-color: #999999;
  color: #eeeeee;
  position: absolute;
  bottom: 0;
  width: 100%;
}
div.now-streaming {
  background-color: #cccccc;
  margin-bottom: 1.5625rem;
  margin-top: 0;
  padding-top: 0.9375rem;
}
.now-streaming h1 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  color: #000000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}
ul.now-streaming-list {
  list-style: none;
}
ul.now-streaming-list li.now-streaming-title span.star-rating {
  color: #333333;
  font-size: 0.75rem;
}
li.now-streaming-title a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  color: #333333;
}
#page nav {
  display: none;
}
.full-black {
  width: 100%;
  background-color: #ffffff;
}
@media only screen and (max-width: 640px) {
  .full-black {
    display: none;
  }
}
.section-header {
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
section.top-nav {
  color: #939598;
  font-size: 0.75rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  text-transform: uppercase;
  position: relative;
  height: 100%;
  width: 100%;
}
a.logo-link {
  background: #ffffff url('../img/global/dcac-full-logo.svg') no-repeat 0;
  background-size: cover;
  height: 4.375rem;
  width: 10.25rem;
  display: block;
}
.top-search-toggle {
  font-size: 0.875rem;
  color: #939598;
}
section.top-nav ul {
  position: absolute;
  font-size: 0.75rem;
  font-weight: bold;
  bottom: 0;
  right: 1.875rem;
  margin: 0;
  display: table;
  width: auto;
}
section.top-nav ul li,
section.top-nav ul li a {
  display: table-cell;
  list-style: none;
  color: #939598;
  vertical-align: bottom;
  height: 0.75rem;
  line-height: 0.625rem;
}
section.top-nav ul li a.slash {
  background: url('../img/global/slash.svg') 0.625rem 0 no-repeat;
  padding-left: 1.875rem;
}
section.top-nav a:hover {
  color: #000000;
}
.section-title {
  width: 100%;
  border-bottom: 0.0625rem solid #000000;
  position: relative;
  margin-top: 2.8125rem;
}
.section-title h1 {
  font-size: 2.25rem;
  line-height: 1.5rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  color: #333333;
  display: block;
  text-align: left;
  margin: 0;
  margin-bottom: 0.3125rem;
}
.mini-top-nav-hidden {
  display: hidden;
  position: absolute;
  top: -3.125rem;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .mini-top-nav-hidden {
    display: block;
    margin-top: 0;
    top: 0;
    position: fixed;
  }
}
.mini-top-nav-visible {
  display: block;
  margin-top: 0;
}
.mini-search-link {
  background-color: transparent;
  font-size: 18px;
  color: #000000;
  position: relative;
}
/*
  a.latest-review{
    font-family: @sans-serif;
    font-size: @text-small;
    color:#939598;
    position: relative;
  }
  a.latest-review:hover,a.latest-review:active{
    color:#5BC2EF;
    background-color: transparent;
    position: relative;
  }
*/
.top-bar-section {
  background: transparent;
}
.dcac-logo {
  background: url('../img/global/dcac-logo.svg') 0 no-repeat;
  display: block;
}
.top-bar .name {
  height: 35px;
  width: 35px;
  margin-left: 5px;
  margin-top: 5px;
}
ul.title-area h1 {
  font-size: 0.625rem;
}
.top-bar .name h1 a {
  color: transparent;
}
.top-bar {
  background-color: #ffffff;
  border-bottom: 1px solid black;
}
.mm-fixed-bottom {
  z-index: 0;
  background-color: #636467;
  width: 100%;
}
#footer {
  /*   position:fixed; */
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 11.5625rem;
  display: block;
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, border;
  -moz-transition-property: top, right, bottom, left, border;
  -ms-transition-property: top, right, bottom, left, border;
  -o-transition-property: top, right, bottom, left, border;
  transition-property: top, right, bottom, left, border;
}
.footer {
  position: relative;
  margin: 0 auto;
  width: 60rem;
  height: 11.5625rem;
}
.footer-block {
  width: auto;
  float: left;
  margin-top: 3.125rem;
  margin-bottom: 0.625rem;
  border-right: 1px solid #808285;
  margin-right: 1.5625rem;
}
.no-border {
  border: none;
}
footer ul {
  list-style: none;
  display: table;
  margin: 0;
}
footer ul li,
h1.footer-head {
  font-size: 12pt;
  line-height: 20pt;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: bold;
  color: #fff;
  display: table-cell;
  padding-right: 1.5625rem;
  vertical-align: top;
}
footer ul li.social {
  height: 3.125rem;
  width: auto;
  display: table-cell;
  vertical-align: middle;
  padding-right: 1.5625rem;
  margin: 0;
  padding-left: 0;
}
footer hr {
  background: #808285;
  height: 1px;
  border: none;
  margin: 0 0 0.625rem 0;
}
a.social-twitter {
  background: url('../img/footer/twitter.png') 0 0 no-repeat;
  width: 33px;
  height: 27px;
  display: block;
}
a.social-facebook {
  background: url('../img/footer/facebook.png') 0 0 no-repeat;
  width: 14px;
  height: 30px;
  display: block;
}
a.social-letterboxd {
  background: url('../img/footer/letterboxd.png') 0 0 no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
a.social-rss {
  background: url('../img/footer/rss.png') 0 0 no-repeat;
  width: 27px;
  height: 27px;
  display: block;
}
footer ul li > ul {
  margin-top: 5px;
  margin-left: 0;
}
footer ul li > ul li {
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: none;
  font-weight: 750;
  color: #c7c8ca;
  display: block;
  float: none;
  margin-right: 0;
  text-align: left;
}
footer a {
  color: #fff;
}
footer ul li > ul li a {
  color: #c7c8ca;
}
footer a:hover {
  color: #fff;
  text-transform: underline;
}
footer .copyright {
  font-size: 0.75rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 200;
  color: #c7c8ca;
  display: block;
  text-align: left;
  margin: 0;
  line-height: 0.625rem;
  clear: left;
}
div.author {
  min-height: 13.75rem;
}
.author h2 {
  font-size: 0.875rem;
  font-family: "Georgia", serif;
  color: #333333;
  margin-top: 5px;
}
.author img {
  height: 125px;
}
div.newsletter-signup {
  width: 320px;
  float: left;
  margin-top: 5px;
}
.newsletter-signup input[type=email] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.0625rem;
  border-color: #f00;
  background: #575758;
  font-size: 0.875rem;
  color: #fff;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  padding: 9px;
  padding-left: 57px;
  margin: 0;
  width: 290px;
  background: #575758 url('../img/footer/email.png') 9px 8px no-repeat;
}
.newsletter-signup input[type=submit] {
  border-top: 1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.0625rem;
  border-color: #f00;
  background: transparent;
  font-size: 0.625rem;
  color: #f00;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  padding: 0;
  margin: 0;
  width: auto;
  display: none;
}
/* side menu */
.menu-header {
  height: 65px;
  line-height: 65px;
  background: url('../img/logo-sm-white.png') no-repeat;
  display: block;
}
#search {
  margin-top: 6.25rem;
}
.search-form {
  width: 40%;
  margin: 0 auto;
  background: transparent;
}
.entries {
  width: 50%;
  margin: 0 auto;
}
input[type=text],
input[type=text]:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.0625rem;
  border-color: #fff;
  background: transparent;
  font-size: 2.25rem;
  color: #fff;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  padding: 0;
  margin: 0;
}
.search-results {
  width: 80%;
  margin: 0 auto;
}
.search-results a {
  color: #fff;
}
.search-modal-icon {
  font-size: 2.25rem;
  float: left;
  color: #fff;
}
div.search-results-article {
  margin-top: 1.5625rem;
  display: block;
  position: relative;
  float: none !important;
  clear: both;
  border-top: solid 0.0625rem #333333;
  width: 31.25rem;
}
div.search-result {
  display: block;
  margin-left: 1.25rem;
  float: left;
  margin-top: 0.9375rem;
  margin-bottom: 1.5625rem;
  width: 21.875rem;
}
p.search-result a {
  font-weight: bold;
  text-decoration: none;
}
p.search-result a:hover {
  text-decoration: underline;
}
h1.search-title {
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  color: #fff;
  letter-spacing: 0.0625rem;
  margin-top: 0;
}
p.search-author {
  font-size: 0.75rem;
  font-family: "Georgia", serif;
  color: #fff;
  line-height: 0.875rem;
  margin-top: 0.3125rem;
  margin-bottom: 0;
}
p.search-addressee {
  font-size: 0.75rem;
  font-family: "Georgia", serif;
  color: #fff;
  line-height: 0.875rem;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 0;
}
p.search-date {
  font-size: 0.625rem;
  font-family: "Georgia", serif;
  color: #fff;
  line-height: 0.875rem;
  margin-top: 0.3125rem;
  margin-bottom: 0;
}
div.search-image {
  width: 6.25rem;
  height: 6.25rem;
  background-size: 6.25rem;
  display: block;
  margin-top: 0.9375rem;
  margin-bottom: 1.5625rem;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
div.search-image img {
  width: 11.25rem;
  display: block;
  max-width: 18.75rem;
  margin-left: -3.125rem;
  float: left;
}
.search-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2500;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
}
#search-modal {
  display: none;
}
.close-x {
  background: url('../img/close-x.svg') 0 0 no-repeat;
  background-size: cover;
  width: 3.125rem;
  height: 3.125rem;
  display: block;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.bounce {
  -webkit-animation-delay: 2s;
}
.slideInDown {
  -webkit-animation-delay: 0;
}
p::selection {
  background: #aaa;
}
#menu-toggle.site-nav {
  position: fixed;
  z-index: 15;
  display: block;
  background: url('../img/logo-md-white.png') no-repeat;
  width: 8.625rem;
  height: 6.875rem;
  color: transparent;
  border: none;
  margin: 0.625rem 0 0 0.625rem;
  transition: all .5s ease 0s;
  transition-delay: .5s;
  -webkit-transition-delay: 0.5s;
}
.left-off-canvas-toggle {
  position: fixed;
  z-index: 15;
  display: block;
  background: url('../img/logo-md-white.png') no-repeat;
  width: 8.625rem;
  height: 6.875rem;
  color: transparent;
  border: none;
  margin: 0.625rem 0 0 0.625rem;
  transition: all .5s ease 0s;
  transition-delay: .5s;
  -webkit-transition-delay: 0.5s;
}
#menu-toggle-top.logo-black {
  background: url('../img/article/logo-sm.png') 15px 10px no-repeat;
  transition: all .5s ease 0s;
  border: none;
  background-color: #333333;
  position: fixed;
  top: 0;
  left: 0;
  color: transparent;
  width: 6.875rem;
  height: 5.3125rem;
  display: none;
}
.no-padding {
  max-width: 6.25rem;
}
.full-width {
  max-width: 100% !important;
}
#menu-toggle.sidebar-active {
  opacity: 0;
  transition: all .5s ease 0s;
}
#story-title {
  height: 31.25rem;
}
@media only screen and (max-width: 640px) {
  #story-title {
    height: 430px;
  }
}
#title {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}
.title-info {
  position: relative;
}
@media only screen and (max-width: 640px) {
  .title-info {
    margin-top: 45px;
  }
}
.title-img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 31.25rem;
}
@media only screen and (max-width: 640px) {
  .title-img {
    height: 26.875rem;
  }
}
#body-text {
  margin-top: 0;
  background-color: #fff;
  padding-top: 3.75rem;
}
@media only screen and (max-width: 640px) {
  #review-copy {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}
#image {
  z-index: 0;
  left: -50000px;
  top: -50000px;
}
#image-small {
  z-index: 0;
  left: 0;
  top: 0;
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
article {
  top: 0;
  width: 100%;
  z-index: 1;
}
article img {
  /*max-width: 1600px; 
  height: auto;*/
  -o-transition: 250ms;
  -ms-transition: 250ms;
  -moz-transition: 250ms;
  -webkit-transition: 250ms;
  transition: 250ms;
}
img.scrolled {
  opacity: 0;
}
.main-title,
.main-title-home {
  position: relative;
  bottom: 3.125rem;
  z-index: 2;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: 62.5rem;
  padding: 0;
  margin-top: 18.75rem;
}
.main-title-home {
  text-align: center;
}
.review-status {
  color: #ffffff;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-size: 1.375rem;
  line-height: 1.25rem;
  font-weight: 700;
  position: absolute;
  bottom: 67px;
  text-shadow: 0 0 0.125rem #333333;
}
@media only screen and (max-width: 640px) {
  .review-status {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 300px;
    line-height: 0;
    width: 100%;
    min-height: 135px;
  }
}
@media only screen and (max-width: 640px) {
  .status-container {
    position: absolute;
    bottom: 1.25rem;
    right: 0;
    font-size: 1.375rem;
    line-height: 22px;
    white-space: nowrap;
    right: 40px;
  }
}
/*
.status-container br{
  @media @mobile{
    content: '';
  }
}
.status-container br:after{
  @media @mobile{
    content: ' ';
  }
}
*/
.status-row {
  height: 504px;
}
@media only screen and (max-width: 640px) {
  .status-row {
    height: 430px;
    position: relative;
    bottom: 0;
  }
}
.people-row {
  height: 504px;
}
@media only screen and (max-width: 640px) {
  .people-row {
    height: auto;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.title-area {
  height: 504px;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .title-area {
    position: relative;
    height: 430px;
  }
}
@media only screen and (max-width: 640px) {
  .title-block {
    position: absolute;
    bottom: 20px;
    text-align: left;
    left: 40px;
  }
}
.review-people {
  position: absolute;
  bottom: 50px;
}
@media only screen and (max-width: 640px) {
  .review-people {
    position: relative;
    bottom: auto;
    margin-top: 35px;
  }
}
.large-star-rating {
  display: block;
  color: #59c2ef;
  font-size: 1.5rem;
  letter-spacing: 0.3125rem;
  margin-top: 0.625rem;
}
@media only screen and (max-width: 640px) {
  .large-star-rating {
    margin-top: 0.625rem;
    padding-top: 0.625rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}
.title-divider {
  border: 0;
  height: 0.0625rem;
  background: #ffffff;
  width: 12.5rem;
}
@media only screen and (max-width: 640px) {
  .title-divider {
    display: none;
  }
}
.review-stamp {
  width: 2.375rem;
  height: 2.375rem;
  float: left;
  margin-right: 0.625rem;
  -webkit-filter: drop-shadow(0 0 0.125rem #939598);
  filter: drop-shadow(0 0 0.125rem #939598);
}
.film-info {
  padding: 0;
  margin-top: 0;
}
h1.film {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  text-align: center;
}
.imdb-category {
  position: relative;
  z-index: 2;
  color: #939598;
  font-size: 0.75rem;
  line-height: 1.375rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  text-align: right;
  font-weight: 700;
  padding: 0 !important;
}
.imdb-data {
  position: relative;
  z-index: 2;
  color: #000;
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  text-align: left;
  font-weight: 700;
}
.imdb-info-row {
  border-top: 1px solid #c6c8ca;
  margin-bottom: 0.9375rem !important;
  margin-top: 0.9375rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-border {
  border: none;
}
.imdb-img {
  margin-bottom: 15px !important;
  margin-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
h1.hero {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  text-shadow: 0 0 0.125rem #333333;
}
@media only screen and (max-width: 640px) {
  h1.hero {
    top: 0.3125rem;
    font-size: 1.625rem;
    line-height: 1.5rem;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 10px;
  }
}
article h1.black {
  color: #333333;
  background-color: #eeeeee;
}
.main-title-top {
  position: fixed;
  z-index: 2;
  display: block;
  width: 100%;
  height: 5.3125rem;
  border: none;
  top: 0;
  left: 0;
  color: #333333;
  font-size: 24pt;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  background-color: #ddd;
  opacity: .95;
  border-bottom: solid #333333 0.125rem;
  box-shadow: 0px 0px 0.625rem 0.3125rem #666666;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.sidebar-active {
  margin-left: 15.625rem;
  transition: all 0.4s ease 0s;
}
h1.top {
  position: relative;
  color: #333333;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  margin-top: 0.75rem;
  line-height: 1.5rem;
}
h2.hero-author,
h2.hero-date {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  font-size: 1rem;
  line-height: 1.125rem;
  font-family: "Georgia", serif;
  font-weight: 200;
  text-shadow: 0 0 0.125rem #333333;
}
@media only screen and (max-width: 640px) {
  h2.hero-author,
  h2.hero-date {
    font-size: 1.0625rem;
    line-height: 1.25rem;
    white-space: nowrap;
    position: relative;
    width: auto;
    margin: 0;
  }
}
h2.hero-date {
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1rem;
}
@media only screen and (max-width: 640px) {
  h2.hero-date {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    white-space: nowrap;
    margin: 0;
  }
}
h2 a {
  display: inline;
  color: #ffffff;
}
h2.top {
  position: relative;
  color: #333333;
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 200;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 0;
  line-height: 18pt;
}
#arrow {
  position: relative;
  bottom: 1.875rem;
  color: #fff;
  font-size: 1.875rem;
  z-index: 2;
  margin: 0 auto;
}
h3 {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 100%;
}
.body-addressee {
  margin-bottom: 15px;
}
h3 span.addressee {
  color: #ffffff;
  text-align: left;
  font-size: 1.875rem;
  line-height: 3.125rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  text-shadow: 0 0 2px #333333;
  margin-left: 4px;
}
@media only screen and (max-width: 640px) {
  h3 span.addressee {
    color: #939598;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2.625rem;
    font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
    font-weight: 700;
    text-shadow: none;
  }
}
h3 span.position {
  color: #ffffff;
  text-align: left;
  font-size: 6.25rem;
  line-height: 5rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  text-shadow: 0 0 2px #333333;
}
@media only screen and (max-width: 640px) {
  h3 span.position {
    color: #000;
    text-align: left;
    font-size: 4.875rem;
    line-height: 4.25rem;
    font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
    font-weight: 700;
    text-shadow: none;
  }
}
#review-copy p.intro {
  text-align: left;
  position: relative;
  color: #333333;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.25rem;
}
@media only screen and (max-width: 640px) {
  #review-copy p.intro {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
#review-copy p {
  text-align: left;
  position: relative;
  color: #333333;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.25rem;
}
/*

social

*/
p.article-share {
  width: 6.25rem;
  height: 2.1875rem;
  display: none;
  border: none;
  position: absolute;
  right: 4.0625rem;
  margin-right: 6.25rem;
  top: 0;
  color: #333333;
  font-size: 2.25rem;
}
p.article-share i {
  margin-left: 0.9375rem;
}
.up-next {
  background-color: #e6e7e8;
  margin-top: 3.125rem;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 40px;
  padding-right: 40px;
}
div.up-next-title {
  height: auto;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
}
h1.up-next-header {
  z-index: 2;
  background-color: #e6e7e8;
  color: #000;
  font-weight: 500;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "Helvetica" sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  width: auto;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
hr.up-next-rule {
  z-index: 1;
  height: 5px;
  color: #c1c0c0;
  background-color: #c1c0c0;
  bottom: 15px;
  position: absolute;
  width: 100%;
  display: block;
  margin: 0;
}
@media only screen and (max-width: 640px) {
  hr.up-next-rule {
    margin: 0;
  }
}
/*

 css testing

*/
.loading p {
  margin: 0;
  text-align: center;
  -webkit-animation: pulse 2s infinite;
  font-weight: bold;
  text-transform: uppercase;
}
@media only screen and (max-width: 640px) {
  .loading p {
    width: 90%;
  }
}
@media only screen and (max-width: 640px) {
  .main-link-small {
    width: 300px;
  }
}
@media (min-width: 768px) {
  /*section.title,h1.hero,h1.top,h2.hero,h2.top,
  article h3,article p{
    width:700px;
  }*/
  article p {
    padding-left: 0;
    padding-right: 0;
  }
}
.comments-bg {
  width: 100%;
  background-color: #eeeeee;
}
.comments {
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media only screen and (max-width: 640px) {
  .comments {
    width: 90%;
  }
}
/* Section titles and Nav */
ul.section-right-nav {
  line-height: 1;
  list-style: none;
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 5px;
}
li.section-right-nav {
  font-size: 14pt;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  font-weight: 200;
  text-align: left;
  margin-left: 10px;
  list-style: none;
  display: inline;
  margin-bottom: 0;
}
li.section-right-nav a {
  display: inline;
  color: #999;
}
li.section-right-nav a:hover,
li.section-right-nav a.current {
  display: inline;
  color: #333;
}
.section-grid {
  height: auto;
}
.section-post {
  min-height: 275px;
  margin-bottom: 25px;
}
div.section-review-text h1 {
  font-size: 12pt;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}
div.section-review-text h2 {
  font-size: 10pt;
  color: #333;
  font-family: "Georgia", serif;
  margin-top: 0;
}
div.section-review-text h2.addressee {
  font-size: 10pt;
  font-style: italic;
}
div.section-review-text h2.author {
  margin-bottom: 5px;
}
div.section-review-text h2.author {
  margin-bottom: 5px;
}
ul.pagination {
  display: inline-block;
}
ul.pagination li {
  font-size: 10pt;
  display: inline;
  background-color: #eee;
  color: #333;
  padding: 1px;
  border: 1px solid #333;
  min-width: 25px;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}
ul.pagination li.current {
  font-size: 10pt;
  display: inline;
  background-color: #666;
  color: #eee;
  padding: 1px;
  border: 1px solid #333;
  min-width: 25px;
  text-align: center;
}
ul.pagination li.off {
  font-size: 10pt;
  background-color: #eee;
  color: #999;
}
ul.pagination li a {
  display: inline;
  color: #333;
  padding: 1px;
}
.center {
  text-align: center;
}
