	/* Dimensions of "#copyLink" necessarily defined inline */
	body {background-attachment:inherit !important;}

	/* Change this if you move the image... defined in php file --- background-image:url(../img/icons.gif);  */
	#copyMenu li span, #closeFrame {cursor:pointer; cursor:hand;}

	/* Main styles for the menu */
	#copyMenu {position:absolute; top:-1000px; left:-1000px; margin:0; padding:0;}
		#copyMenu li {border: solid 1px #ccc; overflow:hidden; border-bottom:none;  margin:0; list-style: none; background:#F4F4F4; width: 120px; line-height:1em;}
		#copyMenu li:hover, #copyMenu #copyLink.hover {background:#FFFDEA;}
			#copyMenu li span, #copyMenu li#credits a {padding: 5px 10px 5px 30px; display:inline-block; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-weight:bold; letter-spacing:1px; font-size:12px; color:#333; background-repeat:no-repeat; white-space:nowrap; width: 80px; text-align:left !important; line-height:1em !important;}

	/* Sprite Positioning for left icons */
			#copyMenu #copyLink span {background-position:5px 5px;}
			#copyMenu #outlook span {background-position:5px -18px;}
			#copyMenu #gmail span {background-position:5px -40px;}
			#copyMenu #yahoo span {background-position:5px -61px;}
			#copyMenu #twitter span {background-position:5px -84px;}
			#copyMenu #wiki span {background-position:5px -110px;}
			#copyMenu #google span {background-position:5px -163px;}
			#copyMenu #wolfram span {background-position:5px -188px;}
			#copyMenu #amazon span {background-position:5px -213px;}
			#copyMenu #ebay span {background-position:5px -238px;}
			#copyMenu #wp span {background-position:5px -263px;}

	/* Credit is a legal obligation (and it's nice) */
		#copyMenu li#credits {background-color:#E9E9E9; border:1px solid #AAA;}
			#copyMenu li#credits a {background:none; font-size:9px; padding:0 3px; margin:0 auto; text-align:center; letter-spacing:0; display:block; color:#666;} 
			#copyMenu li#credits span:hover, #copyMenu li#credits:hover {background:#ccc; color:#000;}

	/* Styles for top frame */
	#frameAll {position:fixed; z-index:9999; width:100%; top:0; left:0; display:none; border-bottom:1px solid #999; background:#fff;}
		#closeFrame {overflow:hidden; background-color:#eee; background-position:repeat-x; background-position:0 -143px; border-top:1px solid #999; text-align:center; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#666; cursor:pointer; cursor:hand;}
	#searchFrame {border:0; width:100%;}

	/* Prevent selection highlighting */
 	#d_clip_button, #copyMenu {-moz-user-select: none; -khtml-user-select: none;}

	/* Hide the copymenu after use */
	#copyMenu.tuck {height:1px; overflow:hidden; left:-1000px; position:fixed;}

	/* ie... Sigh */
	#frameAll.ie {position:absolute;}
	#frameAll.ie #searchFrame {overflow-x: hidden;}
	#copyMenu li.ie {background-color:#FFFDEA;}
	#copyMenu.ie li#credits a {overflow:hidden; margin:0; padding:0; text-align:center; display:inline;}
	#copyMenu li#credits.ie a, #copyMenu li#credits.ie {background:#ccc; color:#000;}