*:focus {outline: none;}

html, body {
  height: auto;
}
body{
  background-color: #636467;
}

nav#menu-left {
    display: none;
}
//import

@import "defaults";
@import "mixins";
@import "home";
@import "nav";
@import "search";
@import "review";
@import "feature";
@import "section";
@import "writers";
@import "basic";