//Responsive
@mobile: ~"only screen and (max-width: 640px)";
@medium: ~"only screen and (max-width: 780px)";
@large: ~"only screen and (max-width: 1000px)";
@large-height: ~"only screen and (min-height: 850px) and (min-width: 800px)";

//set one pixel height
@1px: 0.0625rem;
//@font-px: ;
@font-px: 0.0625rem;
//base othe rcommon heights on this

@5px: @1px*5;
@10px: @1px*10;
@15px: @1px*15;
@20px: @1px*20;
@25px: @1px*25;
@45px: @1px*45;
@50px: @1px*50;
@100px: @1px*100;

/* Colours */
@dark-grey: #333333;
@light-mid-grey: #cccccc;
@mid-grey: #666666;
@side-grey: #999999;
@light-grey: #eeeeee;
@white: #ffffff;
@black: #000000;

// Text sizes
@text-huge: @font-px * 48;
@text-large: @font-px * 36;
@text-medium: @font-px * 16;
@text-regular: @font-px * 14;
@text-small: @font-px * 12;
@text-tiny: @font-px * 10;

//Search text
@search-huge: @1px * 36;
@search-large: @1px * 24;
@search-medium: @1px * 14;
@search-regular: @1px * 12;
@search-small: @1px * 10;
@search-tiny: @1px * 10;

@text-shadow: 0 0 2px @dark-grey;

//Fonts
@font-face{
  font-family: "dcac-sans";
  src:url("/assets/css/fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
src:url("fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"),url("fonts/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"),url("fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:"dcac-sans";
src:url("fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
src:url("fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"),url("fonts/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2") format("woff2"),url("fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),url("fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"),url("fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family:"dcac-serif";
src:url("fonts/3b97520d-a722-45ce-b985-2fe0a48b5c1a.eot?#iefix");
src:url("fonts/3b97520d-a722-45ce-b985-2fe0a48b5c1a.eot?#iefix") format("eot"),url("fonts/97eae991-0db5-44a4-847b-3116c3c23e0e.woff2") format("woff2"),url("fonts/47123efd-376a-4ca4-a13a-7e6233cf1864.woff") format("woff"),url("fonts/53c391fa-d334-4b5b-b84e-c5d4f9cd597c.ttf") format("truetype"),url("fonts/f2757779-8128-4b78-a626-ca3af3af15a8.svg#f2757779-8128-4b78-a626-ca3af3af15a8") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:"dcac-serif";
src:url("fonts/7b67bf57-3988-4989-9328-ea5f41f1b55c.eot?#iefix");
src:url("fonts/7b67bf57-3988-4989-9328-ea5f41f1b55c.eot?#iefix") format("eot"),url("fonts/967ae0d1-b075-42cc-8936-bd782ea13e3a.woff2") format("woff2"),url("fonts/103ac261-2bdc-47c8-b277-4ff41592c169.woff") format("woff"),url("fonts/50422483-14f4-4770-b5f4-1b72838a68b1.ttf") format("truetype"),url("fonts/67c342d6-fa04-46b8-bf2b-fa400759d7aa.svg#67c342d6-fa04-46b8-bf2b-fa400759d7aa") format("svg");
  font-weight: normal;
  font-style: italic;
}
@sans-serif: "dcac-sans","Helvetica Neue", "Helvetica" sans-serif;
@serif: "dcac-serif", "Georgia",serif;

@divider-line: @1px solid @dark-grey;

// Branding

@logo-xl-white: ~"global/logo/dcac-full-logo";
@logo-xl: ~"global/logo/dcac-full-logo-white";