//Headers
.hero-title-text(){
  font-family: @sans-serif;
  color:@white;
  font-weight: 800;
  font-size: @text-large;
  letter-spacing: @1px;
  text-transform: uppercase;
  position: relative;
  text-shadow: @text-shadow;
}
.hero-byline(){
  font-size: @text-medium;
  line-height: 1rem;
  color:@white;
  text-transform: none;
  text-shadow: @text-shadow;
  font-family: @serif;
  margin-bottom: @10px;
  position: relative;
}
.title-img(){
  z-index: 0;
}
//Secondary review grid
.review-block(@margin-bottom:@25px,@min-height:auto){
  margin-bottom: @margin-bottom;
  min-height:@min-height;
}
.review-grid-head() {
  font-size:@1px*18;
  font-family: @sans-serif;
  font-weight: 700;
  line-height: @15px;
  color: @black;
  margin: 0;
}
.review-grid-byline(@size:@text-regular,@family:@sans-serif,@color:#939598){
  font-size:@size;
  font-family: @family;
  color: @color;
  margin: 0;
}
.review-grid-excerpt(@size:@text-small) {
  font-size:@size;
  font-family: @serif;
  font-weight: 200;
  line-height: @1px*18;
  color: @dark-grey;
  margin-top: @5px;
}
.divider-div{
  height:auto;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
  max-width:970px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.divider-title(@background:@white){
  //background-color: #e6e7e8;
  z-index: 2;
  background-color: @background;
  color:#000;
  font-weight: 500;
  font-family: @sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-left:40px;
  margin-right:40px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  width: auto;
  display: inline-block;
  padding-left: 15px;
  padding-right:15px;
  text-align: center;
}
.divider-rule{
  z-index: 1;
  height: 5px;
  color: #c1c0c0;
  background-color: #c1c0c0;
  bottom:10px;
  position: absolute;
  width:100%;
  display: block;
  margin: 0;
}

.mobile-text(){
  color:@dark-grey;
}
.sidebar(){
  background-color: @side-grey;  
}
.sidebar-header(){
  font-family: @sans-serif;
}
.animation(@speed:.5s){
  -o-transition:@speed;
  -ms-transition:@speed;
  -moz-transition:@speed;
  -webkit-transition:@speed;
  transition:@speed;
}

//buttons
.home-button(@display:inline){
  background-color: #636467;
  border-style : none;
  border-width : medium;
  border-color : #636467;
  border: 1px solid #636467;
  padding-right: @1px*35;
  padding-left: @1px*35;
  padding-top: @15px;
  padding-bottom: @10px;
  font-family: @sans-serif;
  font-size: @text-regular;
  margin-bottom: @15px;
  color: @white;
  font-weight: 700;
  display:@display;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.home-button-hover(@display:inline){
  background-color: #c1c0c0;
  border-style : none;
  border-width : medium;
  border-color : #636467;
  border: 1px solid #636467;
  padding-right: @1px*35;
  padding-left: @1px*35;
  padding-top: @15px;
  padding-bottom: @10px;
  font-family: @sans-serif;
  font-size: @text-regular;
  margin-bottom: @15px;
  color: #636467;
}
  
//sidebar
.sidebar-head(){
  margin:0;
  font-size: @1px*24;
  line-height: @20px;
  font-family: @sans-serif;
  font-weight: 700;
  color: @black;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: @10px;
}

//Search
.circle(@float:none){
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: @float;
}

//Review Page
.upper-left-toggle {
  position:fixed;
  z-index: 15;  
  display: block;
  background: @logo-md-white no-repeat;
  width: @1px*138;
  height: @1px*110;
  color: transparent;
  border: none;
  margin:@10px 0 0 @10px;
  transition: all .5s ease 0s;
  transition-delay: .5s;
  -webkit-transition-delay: .5s
}
.text-shadow{
  text-shadow: 0 0 @1px*2 @dark-grey;
}