 #search{
  margin-top: @100px;
  @media @mobile{
    margin-top:@1px*45;
  }
}
.search-head{
  position:fixed;
  width:100%;
  height:@1px*175;
  background-color:rgba(0,0,0,.85);
  z-index:15;
  @media @mobile{
    height:@1px*100;
  }
}
.search-form{
  width:@1px*550;
  margin: 0 auto;
  @media @mobile{ 
    width:@1px*280
  }
}
.entries{
  width: 100%;
  margin: 0 auto;
}
input[type=text], input[type=text]:focus{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background: @white url('../img/search/search-icon.png') no-repeat 25px 15px;
  font-size: @1px*24;
  font-weight: 700;
  //line-height: @1px*65;
  height: @1px*65;
  color: #a7a9ac;
  font-family: @sans-serif;
  margin: 0 auto;
  padding:10px;
  padding-top:20px;
  padding-left: 95px;
  border:none;
  @media @mobile{ 
    font-size: @1px*18;
    height: @1px*45;
    background: @white;
    padding:10px;
  }
}
.search-results{
  width:@1px*550;
  margin: 0 auto;
  margin-top:@1px*175;
  z-index:10;
  @media @mobile{
    width:@1px*280;
    margin-top:@1px*90;
  }
}
.search-results a{
  color:#fff;
}

.search-modal-icon{
  font-size: @search-huge;
  float: left;
  color:#fff;
}
div.search-results-article{
  margin-top: @25px;
  display: block;
  position: relative;
  float: none !important;
  clear: both;
  border-top: solid @1px rgba(255,255,255,.5);
  width: @1px*550;
  @media @mobile{
    width:@1px*280
  }
}
div.search-result{
  display: block;
  margin-left: @20px;
  float: left;
  margin-top: @15px;
  margin-bottom: @25px;
  width: @1px*180;
}
p.search-result a{
  font-weight: bold;
  text-decoration: none;
}
p.search-result a:hover{
  text-decoration: underline;
}
h1.search-title{
  font-size: @1px*22;
  line-height: @1px*24;
  font-family: @sans-serif;
  font-weight: 700;
  color:#fff;
  letter-spacing: @1px;
  margin-top: 0;
  @media @mobile{
    font-size: @1px*16;
    line-height: @1px*18;
  }
}
 p.search-author{
  font-size: @search-regular;
  font-family: @serif;
  font-style: italic;
  color:#d1d3d4;
  line-height: @1px*12;
  margin-top: @5px;
  margin-bottom: 0;
  @media @mobile{
    font-size: @1px*10;
    line-height: @1px*12;
  }
}
p.search-addressee{
  font-size: @search-regular;
  font-family: @sans-serif;
  color:#d1d3d4;
  font-weight: 700;
  line-height: @1px*14;
  margin-top: 5px;
  margin-bottom: 0;
  @media @mobile{
    font-size: @1px*12;
    line-height: @1px*14;
  }
}
p.search-date{
  font-size: @search-small;
  font-family: @serif;
  color:#fff;
  line-height: @1px*14;
  margin-top: @5px;
  margin-bottom: 0;
}
div.search-image{
  width: @100px;
  height: @100px;
  background-size: @100px;
  display: block;
  margin-top: @15px;
  margin-bottom: @25px;
  .circle(left);
  @media @mobile{
    width:@50px;
    height:@50px;
    background-size: @50px;
  margin-bottom: @1px*12;
  }
}
div.search-image img{
  width: @1px*180;
  display: block;
  max-width: @1px*300;
  margin-left: -@50px;
  float: left;
  @media @mobile{
  width: @1px*90;
  display: block;
  max-width: @1px*150;
  margin-left: -@25px;
  }
}
.search-modal{
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,.9);
  z-index: 2500;
  position: fixed;
  top:0;
  left:0;
  overflow: scroll;
}
#search-modal{
  display: none;
}
.close-x{
  background: url('../img/close-x.svg') 0 0 no-repeat;
  background-size: cover;
  width: @50px;
  height: @50px;
  display: block;
  position: fixed;
  top: @20px;
  right: @20px;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  @media @mobile{ 
    width: @20px;
    height: @20px;
    top: @10px;
  }
}