---
layout: default
css: dcac.css
home: true
---
      
      {% include top-nav.html %}
      <div class="row">
        <div class="large-12 columns">
          <div class="hero-container">
          {% for post in site.posts limit:1 %}
          {% assign author = site.data.authors[post.author] %}
            <a href="{{ post.url }}"><img class="hero-image" src="img/article/{{ post.image }}" alt="{{ post.title }}" /></a>
            <div class="hero-title">
              <a href="{{ post.url }}">
                <h1>{{ post.title }}</h1>
                <h2 class="star-rating">{% for i in (1..post.stars) %}<i class="fa fa-star"></i>{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<i class="fa fa-star-half-o"></i>{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<i class="fa fa-star-o"></i>{% endfor %}{% endif %}</h2>
                <h2 class="addressee">Dear {{ post.addressee }}, {{ post.position }}</h2>
                <h2 class="author">By {{ author.name }}</h2>
              </a>
              <p><a class="btn dcac-hero-button" role="button" href="{{ post.url }}">Read more ></a></p>
            </div>
         {% endfor %}
          </div>
        </div>
      </div>
  
      <div class="row" id="row-height">
        <div class="large-8 medium-8 columns">
          {% for post in site.posts offset:1 limit:4 %}
          {% assign author = site.data.authors[post.author] %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
           <div class="row">
          {% endif %}
             <div class="post-list large-6 medium-6 columns grow">
              <a href="{{ post.url }}" class="thumbnail"><img src="/img/article/thumb/{{ post.image }}" alt="{{ post.title }}" /></a>
              <a href="{{ post.url }}">
                <div class="review-text">
                  <h1>{{ post.title }}</h1>
                  <h2 class="star-rating">{% for i in (1..post.stars) %}<i class="fa fa-star"></i>{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<i class="fa fa-star-half-o"></i>{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<i class="fa fa-star-o"></i>{% endfor %}{% endif %}</h2>
                  <h2 class="addressee">Dear {{ post.addressee }}, {{ post.position }}</h2>
                  <h2 class="author">By {{ author.name }}{{ post._ga }}</h2>
                </div>
              </a>
            </div>
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex != 1 %}
            </div>
          {% endif %}
          {% endfor %}
          {% for post in site.categories['features'] limit:1 %}
          {% assign author = site.data.authors[post.author] %}
            <div class="row">
              <div class="large-6 medium-6 columns home-feature">
                <a href="{{ post.url }}" class="thumbnail"><img src="/img/features/thumb/{{ post.image }}" alt="{{ post.title }}" /></a>
              </div>
              <div class="large-6 medium-6 columns home-feature">
              <a href="{{ post.url }}">
                  <div class="review-text">
                    <h1>{{ post.title }}</h1>
                    <!--<h2 class="star-rating">{% for i in (1..post.stars) %}<i class="fa fa-star"></i>{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<i class="fa fa-star-half-o"></i>{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<i class="fa fa-star-o"></i>{% endfor %}{% endif %}</h2>
                    <h2 class="addressee">Dear {{ post.addressee }}, {{ post.position }}</h2>-->
                    <h2 class="author">By {{ author.name }}{{ post._ga }}</h2>
                    <p>{{ post.excerpt }}</p>
                  </div>
                </a>
              </div>
          </div>
          {% endfor %}
          {% for post in site.posts offset:5 limit:4 %}
          {% assign author = site.data.authors[post.author] %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
           <div class="row">
          {% endif %}
             <div class="post-list large-6 medium-6 columns">
              <a href="{{ post.url }}" class="thumbnail"><img src="/img/article/thumb/{{ post.image }}" alt="{{ post.title }}" /></a>
              <a href="{{ post.url }}">
                <div class="review-text">
                  <h1>{{ post.title }}</h1>
                  <h2 class="star-rating">{% for i in (1..post.stars) %}<i class="fa fa-star"></i>{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<i class="fa fa-star-half-o"></i>{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<i class="fa fa-star-o"></i>{% endfor %}{% endif %}</h2>
                  <h2 class="addressee">Dear {{ post.addressee }}, {{ post.position }}</h2>
                  <h2 class="author">By {{ author.name }}{{ post._ga }}</h2>
                </div>
              </a>
            </div>
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex != 1 %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
  
        <div class="large-4 medium-4 columns">
          <div class="row">
          <div class="large-12 medium-12 columns" id="side-row">
          <div id="home-sidebar" class="home-sidebar">
            <div class="film-credits" id="film-credits">
            </div>
            <div class="ad-space">
              <a href="#" class="thumbnail"><img src="img/netflix_small.png" alt="Netflix ad"/></a>
            </div>
            <div class="now-streaming">
              <h1 class="now-streaming-title">Now Streaming</h1>
              <ul class="now-streaming-list">
              {% for post in site.posts where post.categories contains "streaming" limit:15 %}
            		<li class="now-streaming-title"><a href="{{ post.url }}"><span class="star-rating">{% for i in (1..post.stars) %}<i class="fa fa-star"></i>{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<i class="fa fa-star-half-o"></i>{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<i class="fa fa-star-o"></i>{% endfor %}{% endif %}</span> {{ post.title }} </a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
      
      <div class="row collapse">
        <div class="more-reviews">More Reviews</div>
          <div class="row" id="load-posts-area">
            {% for post in site.posts offset:9 limit:6 %}
            {% assign author = site.data.authors[post.author] %}
             <div class="post large-4 medium-4 columns">
              <a href="{{ post.url }}" class="thumbnail"><img src="/img/article/thumb/{{ post.image }}" alt="{{ post.title }}" /></a>
              <a href="{{ post.url }}">
                <div class="review-text">
                  <h1>{{ post.title }}</h1>
                  <h2 class="star-rating">{% for i in (1..post.stars) %}<i class="fa fa-star"></i>{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<i class="fa fa-star-half-o"></i>{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<i class="fa fa-star-o"></i>{% endfor %}{% endif %}</h2>
                  <h2 class="addressee">Dear {{ post.addressee }}, {{ post.position }}</h2>
                  <h2 class="author">By {{ author.name }}{{ post._ga }}</h2>
                </div>
              </a>
            </div>
          {% endfor %}
          </div>
          <div class="load-posts-div">
            <button id="load-posts" class="load-posts-button">More Reviews</button>
            <button id="goto-posts" class="goto-posts-button" href="/reviews/">Browse All Reviews ></button>
          </div>
      </div>