---
layout: default
title: Dear Cast & Crew
css: home.css
---

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav nav-justified">
        <li><a href="#" class="navbar-link">Reviews</a></li>
        <li><a href="#" class="navbar-link">Features</a></li>
        <li><a href="#" class="navbar-link">Podcast</a></li>
        <li><a href="#" class="navbar-link" ><i class="fa fa-search" id="search-toggle"></i></a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>


<div class="container-shadow" id="main-container">
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
{% for post in site.posts limit:1 %}
  <a href="{{ post.url }}"><div class="container hero-container">
    <img class="img-responsive hero-image" src="img/article/{{ post.image }}" alt="{{ post.title }}" />
    <div class="hero-title">
      <h1>{{ post.title }}</h1>
      <p class="sub-title">Dear {{ post.addressee }}, {{ post.position }}</p>
      <p class="author">By {{ post.author }}</p>
      <p><a class="btn dcac-hero-button" role="button" href="{{ post.url }}">Read more &raquo;</a></p>
    </div>
  </div>
  {% endfor %}</a>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-8">
{% for post in site.posts offset:1 limit:6 %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div class="row">
     <div class="col-md-6 col-pad-remove">
      <a href="{{ post.url }}" class="thumbnail">
        <img src="img/article/{{ post.image }}" alt="{{ post.title }}" clas="sub-review" />
      </a>
      <a href="{{ post.url }}"><div class="review-text">
        <h1>{{ post.title }}</h1>
        <h2 class="addressee">Dear {{ post.addressee }}, {{ post.position }}</span></h2>
        <h2 class="author">By {{ post.author }}</h2>
      </div>
      </a>
    </div>
  {% else %}
    <div class="col-md-6 col-pad-remove">
        <a href="{{ post.url }}" class="thumbnail">
          <img src="img/article/{{ post.image }}" alt="{{ post.title }}" clas="sub-review" />
        </a>
        <a href="{{ post.url }}"><div class="review-text">
          <h1>{{ post.title }}</h1>
          <h2 class="addressee">Dear {{ post.addressee }}, {{ post.position }}</span></h2>
          <h2 class="author">By {{ post.author }}</h2>
        </div>
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}
    </div>
    <div class="col-md-4">
        <div class="film-credits">
          <h1>DC&C Glossary</h1>
          <article>
            <h1 class=film-credits-title>Supervising Sound Editor</h1>
            <h2 class="film-credits-description">Someone with the power to, apparently, possess others into committing rape.</h2>
            <a role="button">More</a>
          </article>
            <span class="film-credits-nav"><i class="fa fa-chevron-left film-credit-previous"></i><i class="fa fa-chevron-right film-credit-next"></i></span>
        </div>
        <div class="ad-space">
          <a href="#" class="thumbnail"><img src="img/netflix.png" alt="Netflix ad"/></a>
        </div>
    </div>
  </div>
</div> <!-- /container -->