---
layout: default
css: dcac.css
home: true
section: Home
exclude_from_search: true
---
      
      {% include top-nav.html %}
      {% for post in site.posts limit:1 %}
      <style>
      .title-img-fade {
      background-image: -webkit-linear-gradient(left, 
          rgba(0,0,0,0.9) 0%, 
          rgba(0,0,0,0) 20%,
          rgba(0,0,0,0) 80%,
          rgba(0,0,0,0.9) 100%
        ),
        url('/img/article/main/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}');
      background-image: -moz-linear-gradient(left, 
          rgba(0,0,0,0.9) 0%, 
          rgba(0,0,0,0) 20%,
          rgba(0,0,0,0) 80%,
          rgba(0,0,0,0.9) 100%
        ),
        url('/img/article/main/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}');
      background-image: -o-linear-gradient(left, 
          rgba(0,0,0,0.9) 0%, 
          rgba(0,0,0,0) 20%,
          rgba(0,0,0,0) 80%,
          rgba(0,0,0,0.9) 100%
        ),
        url('/img/article/main/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}');
      background-image: 
        linear-gradient(left, 
          rgba(0,0,0,0.9) 0%, 
          rgba(0,0,0,0) 20%,
          rgba(0,0,0,0) 80%,
          rgba(0,0,0,0.9) 100%
        ),
        url('/img/article/main/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}');
      }
      .title-img {
        background-image: url('/img/article/main/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}');
      }
    </style>
      {% assign author = site.data.authors[post.author] %}
      <section id="hero-home">
        <div id="story-title" class="title-info">
          <a href="{{ post.url }}">
            <div id="title-img" class="title-img" style=""></div>
            <div class="row collapse">
              <div class="large-4 medium-4 columns home-title-height">
                <div class="hero-title-text">
                  <h1 class="hero-home">{{ post.title }}</h1>
                  <div class="translucent-box clearfix">
                    <div class="hero-people">
                      <h2 class="hero-addressee-home hyphenate">
                        Dear {{ post.addressee }}, <span class="mobile-line-break"><br /></span>{{ post.position }}
                      </h2>
                      <h2 class="hero-author-home">
                        By {{ author.name }}
                      </h2>
                      <h2 class="hero-date-home hidden-for-medium-up">
                        Mailed on {{ post.date | date: "%B %d, %Y" }}
                      </h2>
                    </div>
                    <div class="home-status-container">
                      <div class="home-status-title show-for-small-only">
                        <img src="/img/global/stamp.svg" class="standard review-stamp" alt="Stamp" />
                    {% if post.stars < 1.5 %}Junk<br />Mail{% elsif post.stars >= 1.5 and post.stars < 2.5 %}Return to<br />Sender{% elsif post.stars >= 2.5 and post.stars < 3.5 %}Standard<br />Delivery{% elsif post.stars >= 3.5 and post.stars < 4.5  %}Air<br />Mail{% elsif post.stars >= 4.5 %}Priority<br />Post{% endif %}<br />
                      </div>
                      <div class="large-star-rating-home">
                        {% for i in (1..post.stars) %}<img class="star-large" src="/img/global/star-blue.svg" alt="" />{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<img class="star-large" src="/img/global/star-blue-half.svg" alt="" />{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<img class="star-large" src="/img/global/star-white.svg" alt="" />{% endfor %}{% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </section>
      {% endfor %}
  
      <div class="row" id="row-height">
        <div class="large-8 medium-8 columns">
          {% for post in site.categories['reviews'] offset:1 limit:4 %}
          {% assign author = site.data.authors[post.author] %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
           <div class="row">
          {% endif %}
             <div class="post-list-home large-6 medium-6 columns grow">
              {% include post-grid/post-home.html %}
            </div>
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex != 1 %}
            </div>
          {% endif %}
          {% endfor %}
            <div class="row">
              <div class="large-12 medium-12 columns">
                <hr class="grid-divider" />
              </div>
            </div>
          {% for post in site.categories['features'] limit:1 %}
          {% assign author = site.data.authors[post.author] %}
            <div class="row">
              {% include post-grid/post-feature.html %}
            </div>
            <div class="row">
              <div class="large-12 medium-12 columns">
                <hr class="grid-divider" />
              </div>
            </div>
          {% endfor %}
          {% for post in site.categories['reviews'] offset:5 limit:4 %}
          {% assign author = site.data.authors[post.author] %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
           <div class="row">
          {% endif %}
             <div class="post-list-home large-6 medium-6 columns">
              {% include post-grid/post-home.html %}
            </div>
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex != 1 %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
  
        <div class="large-4 medium-4 columns hide-for-small-only">
          <div class="row">
            <div class="large-12 medium-12 columns" id="side-row">
              <div id="home-sidebar" class="home-sidebar">
                <div class="film-credits" id="film-credits">
                  <div class="glossary-ribbon"></div>
                </div>
                <div class="ad-space">
                  <a href="#" class="thumbnail"><img src="img/netflix_small.png" alt="Netflix ad"/></a>
                </div>
                <div class="now-streaming">
                  <h1>Our reviews of movies now available on <br />Netflix Streaming.</h1>
               <!--    <h1 class="now-streaming-title">Now Streaming</h1> -->
                  <ul class="now-streaming-list">
                  {% for post in site.categories['netflix']  limit:15 %}
                		<li class="now-streaming-title"><a href="{{ post.url }}">{{ post.title }} <span class="star-rating">{% for i in (1..post.stars) %}<img src="/img/global/star-red.svg" class="star-small" alt="" />{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<img src="/img/global/star-red-half.svg" class="star-small" alt="" />{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<img src="/img/global/star-grey.svg" class="star-small" alt="" />{% endfor %}{% endif %}</span></a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row collapse hide-for-small-only">
          <div class="more-reviews">
            <h1 class="more-reviews-title">More Reviews</h1>
            <hr class="more-reviews-rule">
          </div>
          <div class="row" id="load-posts-area">
            {% for post in site.categories['reviews'] offset:9 limit:6 %}
            {% assign author = site.data.authors[post.author] %}
             <div class="post large-4 medium-4 columns">
              {% include post-grid/post.html %}
            </div>
          {% endfor %}
          </div>
          <div class="load-posts-div">
            <button id="load-posts" class="load-posts-button">More Reviews</button>
            <a href="/reviews/index.html" id="goto-posts" class="goto-posts-button">Browse All Reviews ></a>
          </div>
      </div>