<div id="footer">
      <footer class="mm-fixed-bottom">
        <div class="footer">
          <div class="footer-block">
            <ul>
              {% include site-nav.html %}
            </ul>
          </div>
          <div class="footer-block">
            <h1 class="footer-head">Follow</h1>
            <ul class="social">
              <li class="social"><a class="social-twitter"></a></li>
              <li class="social"><a class="social-facebook"></a></li>
              <li class="social"><a class="social-letterboxd"></a></li>
              <li class="social"><a class="social-rss"></a></li>
            </ul>
          </div>
          <span class="stretch"></span>
          <p class="copyright">Copyright &copy; 2012-14 Dear Cast & Crew. All rights reserved.</p>
        </div>
      </footer>
    </div>