<div id="footer">
      <footer class="mm-fixed-bottom">
        <div class="footer">
          <div class="footer-block">
            <ul>
              {% include site-nav.html %}
            </ul>
          </div>
          <div class="footer-block">
            <h1 class="footer-head">Follow</h1>
            <ul class="social">
              <li class="social"><a class="social-twitter"></a></li>
              <li class="social"><a class="social-facebook"></a></li>
              <li class="social"><a class="social-letterboxd"></a></li>
              <li class="social"><a class="social-rss"></a></li>
            </ul>
          </div>
          <div class="footer-block no-border">
            <h1 class="footer-head">Subscribe</h1>
          <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="//dearcastandcrew.us8.list-manage.com/subscribe/post?u=c5759767eda31141b0220d04a&amp;id=e7cdc6d7ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="newsletter-signup">
    <!--           	<label for="mce-EMAIL">Email Address </label> -->
              	<input type="email" value="" name="EMAIL" class="required email left" id="mce-EMAIL" />
              	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
              	<div id="mce-responses" class="clear">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>
              	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_c5759767eda31141b0220d04a_e7cdc6d7ce" tabindex="-1" value=""></div>
              </form>
            </div>
          </div>
          <span class="stretch"></span>
          <hr />
          <p class="copyright">Copyright &copy; 2012-14 Dear Cast & Crew. All rights reserved.</p>
        </div>
<!--End mc_embed_signup-->
      </footer>
    </div>