
    <style>
    .title-img-fade {
    background-image: -webkit-linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,0.9) 100%
      ),
      url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    background-image: -moz-linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,0.9) 100%
      ),
      url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    background-image: -o-linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,0.9) 100%
      ),
      url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    background-image: 
      linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,0.9) 100%
      ),
      url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    }
    .title-img {
      background-image: url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    }
  </style>
