  <div id="nav-header"><a href="/"><img src="/img/global/dcac-full-logo-white.svg" class="side-home-link" /></a></div>
  <nav id="menu-left">
    <!-- Sidebar Nav -->
    <ul>
      <li><a href="#" id="side-search-toggle"><i class="fa fa-search"></i> <!-- Search --></a></li>
      {% include site-nav.html %}
      <li class="social">
        <a href="http://www.twitter.com/DearCastandCrew/" class="social-twitter"></a>
        <a href="http://www.facebook.com/DearCastandCrew/" class="social-facebook"></a>
        <a href="http://www.letterboxd.com/dearcastandcrew/" class="social-letterboxd"></a>
      </li>
    </ul>
    <!-- End Sidebar Nav -->
    </nav>