<ul class="share-links hide-for-small-only" id="share-links">
              <li>
                <div class="comment-count">
                  <div class="comment-count-container">
                    <a class="comment-count-link" href="http://{{ site.baseurl }}{{ page.url }}#disqus_thread"></a>
                  </div>
                  <div class="comment-count-arrow">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 23.4" enable-background="new 0 0 20 23.4" xml:space="preserve">
                      <polyline points="0,23.4 0,0 20,0 "/>
                    </svg>
                  </div>
                </div>
              </li>
              <li>
                <a class="share-icon" target="_blank" href="http://twitter.com/home?status={% if page.categories contains "reviews" %}Dear%20{{ page.addressee | URLEncode }}%2C%20{{ page.position | URLEncode }}%20for%20{{ page.title |upcase | URLEncode }}{% else %} {{ page.title | URLEncode }}{% endif %}%20http%3A//{{ site.baseurl | URLEncode }}{{ page.url | URLEncode }}"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="share-icon" href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?title={% if page.categories contains "reviews" %}Dear%20{{ page.addressee | UrlEncode }}%2C%20{{ page.position | UrlEncode }}%20for%20{{ page.title |upcase | UrlEncode }}{% else %} {{ page.title | UrlEncode }}{% endif %}&url=' + encodeURIComponent(window.location); return false"><i class="fa fa-reddit"></i></a>
              </li>
              <li>
                <a class="share-icon" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A//{{ site.baseurl | URLEncode }}{{ page.url | URLEncode }}"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>