<ul class="share-links" id="share-links">
              <li>
                <div class="comment-count">
                  <div class="comment-count-container">
                    <a class="comment-count-link" href="http://localhost:4000{{ page.url }}#disqus_thread"></a>
                  </div>
                  <div class="comment-count-arrow">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 20 23.4" enable-background="new 0 0 20 23.4" xml:space="preserve">
                      <polyline fill="#c1c0c0" points="0,23.4 0,0 20,0 "/>
                    </svg>
                  </div>
                </div>
              </li>
              <li>
                <a class="share-icon" href=""><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="share-icon" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A//{{ site.baseurl | URLEncode }}{{ page.url | URLEncode }}"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>