{% capture result %}{% contentblock signature %}{% endcapture %}
              {% if result != '' %}
            <div class="signature">
              {{ result | replace_first: '<p>','<p class="signature-signoff">' }}
              <img class="signature-img" src="/img/writers/{{ author.signature }}" />
            </div>
              {% else %}
            <div class="signature clearfix">
              <p class="signature-signoff"><strong>Sincerely,</strong><br />
              {{ author.short-name }}</p>
              <img class="signature-img" src="/img/writers/{{ author.signature }}" />
            </div>
              {% endif %}