    <div class="full-black">
      <div class="row">
        <div class="section-header">
          <section class="top-nav" id="top-nav">
            <ul>
              <li><a href="/reviews/">Reviews</a></li>
              <li><a href="/features/">Features</a></li>
              <li><a href="/podcast/">Podcast</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="#" id="top-search-toggle"?<i class="fa fa-search"></i><a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    
    <div class="mini-top-nav-hidden" id="mini-top-nav">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name dcac-logo" id="nav-toggle">
            <h1><a href="#">Dear Cast & Crew</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="search" id="mini-top-search-toggle'"><a href="#"><i class="fa fa-search"></i></a></li>
          </ul>
        </section>
      </nav>
    </div>