  
<div class="full-black">
      <div class="row collapse">
        <div class="section-header">
          <section class="top-nav" id="top-nav">
            <a href="/" class="logo-link"></a>
            <ul>
              <li><a href="/reviews/">Reviews</a></li>
              <li><a href="/features/" class="slash">Features</a></li>
              <!-- <li><a href="/podcast/">Podcast</a></li> -->
              <li><a href="/about/" class="slash">About</a></li>
              <li><a href="#" id="top-search-toggle" class="top-search-toggle slash"><i class="fa fa-search"></i></a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
        
    <div class="mini-top-nav-hidden mm-fixed-top" id="mini-top-nav">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name dcac-logo" id="nav-toggle">
            <h1><a href="#">Dear Cast & Crew</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="search" id="mini-top-search-toggle"><a href="#" class="mini-search-link"><i class="fa fa-search"></i></a></li>
          </ul>
        </section>
      </nav>
    </div>