---
css: home.css
section: About
title: About
layout: default
---
      {% include top-nav.html %}
      {% include about-nav.html %}
      <div class="row">
        <p>Dear Cast and Crew is a series of open letters to the people behind the most powerful medium in the world.</p>
        <p>It’s not just the big names who make a movie worth watching. The smallest contribution from the most unlikely source can be the most rewarding element of a film. Those people deserve to be praised. And sometimes they deserve to share the blame.</p>
        <p>That’s why we write our letters.</p>
      </div>
      