---
css: home.css
section: About
title: Writers
layout: default
list_authors:
  - caseyt
  - christopherr
  - coryh
  - jaredy
  - dig
  - kelany
---
      {% include top-nav.html %}
      {% include about-nav.html %}
      <div class="row" id="load-posts-area">
         <div class="author large-8 medium-8 columns8">

{% for list_author in page.list_authors %}
{% assign author = site.data.authors[list_author] %}
           <div class="author large-4 medium-4 columns{% if forloop.last %} end {% endif %}">
            <a href="/about/writers/{{ list_author }}/">
              <img src="/img/about/writers/{{ author.image }}" alt="{{ author.name }}" />
              <h2>{{ author.name }}</h2>
            </a>
          </div>

{% endfor %}
         </div>
      </div>
      