---
css: home.css
section: About
author: dig
title: Di Golding
section: About
layout: default
---
{% include top-nav.html %}
{% include about-nav.html %}
{% assign author = site.data.authors[page.author] %}
      <div class="row writer-bio" id="writer-bio">
        <section id="bio">
          <h1>{{ author.name }}</h1>
          <p>{{author.bio }}</p>
        </section>
      </div>
      {% if page == 1 %}
      {% endif %}
      <div class="row posts-grid" id="posts-grid">
        {% for post in paginator.posts %}
        {% assign author = site.data.authors[post.author] %}
         <div class="section-post large-3 medium-3 columns{% if forloop.last %} end{% endif %}">
          {% include post-grid/post.html %}
         </div>
        {% endfor %}
      </div>
      <div class="pagination-centered">
        <ul class="pagination">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1%}
            <li><a href="{{ paginator.previous_page_path }}" class="previous"><span class="left-arrow-on"></span></a></li>
            {% else %}
            <li><a href="/about/writers/dig{{ paginator.previous_page_path }}" class="previous"><span class="left-arrow-on"></span></a></li>
            {% endif %}
          {% else %}
            <li><span class="left-arrow-off"></span></li>
          {% endif %}
            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="current"><a href="#">{{ page }}</a></li>
            {% elsif page == 1 %}
              <li><a href="/about/writers/dig">{{ page }}</a></li>
            {% else %}
              <li><a href="/about/writers/dig/page{{ page }}/">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
            <li><a  href="/about/writers/dig{{ paginator.next_page_path }}"><span class="right-arrow-on"></span></a></li>
          {% else %}
            <li><span class="right-arrow-off"></span></li>
          {% endif %}
        </ul>
      </div>