<a href="{{ post.url }}">
                  <div class="post-image">
                   <img class="img-size" data-interchange="[/assets/img/posts/thumb-300/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}, (default)], [/assets/img/posts/thumb-600/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}, (retina)]" alt="{{ post.title }} Image" />
                    <noscript><img class="img-size" src="/assets/img/posts/thumb-300/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}" alt="{{ post.title }} Image" /></noscript>
                    {% if post.categories contains "essays" and post.categories contains "interviews"  %}<div class="corner-interview"></div>{% elsif post.categories contains "lists" %}<div class="corner-list"></div>{% elsif post.categories contains "essays" %}<div class="corner-essay"></div>{% elsif post.categories contains "series-index" %}<div class="corner-series"></div>{% endif %}
                  </div>
                </a>
                
                <a href="{{ post.url }}">
                  <div class="review-text">
                    <h1>{{ post.title }}</h1>
                    {% if post.categories contains "reviews" or post.categories contains "essays" %}<h2 class="author">By {{ author.name }}</h2>{% endif %}
                  </div>
                </a>