---
css: home.css
section: Features
title: Features
category: features
layout: default
exclude_from_search: true
---
    {% include top-nav.html %}
      {% include features-nav.html %}

      <div class="row posts-grid" id="posts-grid">
        {% for post in paginator.posts %}
        {% assign author = site.data.authors[post.author] %}
         <div class="section-post large-4 medium-4 small-6 columns{% if forloop.last %} end{% endif %}">
          {% include post-grid/feature-post.html %}
        </div>
        {% endfor %}
      </div>
      <div class="pagination-centered">
        <ul class="pagination">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1%}
            <li><a href="{{ paginator.previous_page_path }}" class="previous"><span class="left-arrow-on"></span></a></li>
            {% else %}
            <li><a href="/{{ page.category }}/{{ paginator.previous_page_path }}" class="previous"><span class="left-arrow-on"></span></a></li>
            {% endif %}
          {% else %}
            <li><span class="left-arrow-off"></span></li>
          {% endif %}
            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="current"><a href="#">{{ page }}</a></li>
            {% elsif page == 1 %}
              <li><a href="/features/">{{ page }}</a></li>
            {% else %}
              <li><a href="/features/page{{ page }}/">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
            <li><a  href="/{{ page.category }}{{ paginator.next_page_path }}"><span class="right-arrow-on"></span></a></li>
          {% else %}
            <li><span class="right-arrow-off"></span></li>
          {% endif %}
        </ul>
      </div>