<a href="{{ post.url }}">
                  <div class="post-image">
                   <img class="img-size" data-interchange="[/img/article/thumb-300/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}, (default)], [/img/article/thumb-600/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}, (retina)]" alt="{{ post.title }} Image" />
                    <noscript><img class="img-size" src="/img/article/thumb-300/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}" alt="{{ post.title }} Image" /></noscript>
                    <div class="corner-stamp"></div>
                  </div>
                </a>
                
                <a href="{{ post.url }}">
                  <div class="review-text">
                    <h1>{{ post.title }}</h1>
                    {% if post.categories contains "reviews" or post.categories contains "essays" %}<h2 class="author">By {{ author.name }}</h2>{% endif %}
                  </div>
                </a>