<a href="{{ post.url }}">
                <div class="large-6 medium-6 columns small-7 home-feature">  
                  <div id="home-feature-image" class="post-image">
                    <img class="b-lazy img-size" 
         src="/assets/img/global/grid/grid-placeholder.svg"
         data-src="/assets/img/posts/thumb-300/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %} | /assets/img/posts/thumb-600/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}"
         alt="{{post.title }} image"
    />
                    <noscript><img class="img-size" src="/assets/img/posts/thumb-300/{% if post.image contains ".jpg" %}{{post.image }}{% else %}{{ post.title | handleize }}.jpg{% endif %}" alt="{{ post.title }} Image" /></noscript>
                    {% if post.categories contains "essays" and post.categories contains "interviews"  %}<div class="corner-interview"></div>{% elsif post.categories contains "lists" %}<div class="corner-list"></div>{% elsif post.categories contains "essays" %}<div class="corner-essay"></div>{% elsif post.categories contains "series-index" %}<div class="corner-series"></div>{% endif %}
                  </div>
                </div>
                <div class="large-6 medium-6 small-5 columns">
                  <div class="feature-text-home">
                    <h1>{{ post.title }}</h1>
                    <h2 class="author">By {{ author.name }}{{ post._ga }}</h2>
                    <p>{{ post.excerpt }}</p>
                  </div>
                </div>
              </a>