<div class="large-6 medium-6 columns home-feature">  
                <a href="{{ post.url }}">
                  <div class="post-image">
                    <img src="/img/features/thumb/{{ post.image }}" alt="{{ page.title }}" />
                    <div class="corner-stamp"></div>
                  </div>
                </a>
              </div>
              <div class="large-6 medium-6 columns home-feature">
                <a href="{{ post.url }}">
                  <div class="review-text">
                    <h1>{{ post.title }}</h1>
                    <h2 class="author">By {{ author.name }}{{ post._ga }}</h2>
                    <p>{{ post.excerpt }}</p>
                  </div>
                </a>
              </div>