---
layout: default
---
     {% include top-nav.html %}
     {% assign author = site.data.authors[page.author] %}
      <section>
        {% include share.html %}
      </section>
      <section id="feature-hero">
        <div id="story-title" class="title-info">
          <div id="title-img" data-stellar-background-ratio=".25"></div>
          <div class="row collapse">
            <div class="large-4 medium-4 columns feature-title-height">
              <div class="contest-title-text">
                <h1 class="contest-title">{{ page.title }}</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="body-text">
        <div class="row">
          <div class="large-4 medium-4 columns hide-for-small-only" id="film-row">
            <div id="review-sidebar">
              <div id="film-info" class="film-info">
             </div>
            </div>
          </div>
          <div class="large-8 medium-8 columns" id="review-copy">
            {{ content }}
          </div>
        </div>
      </section>
      {% if page.comments %}{% include disqus.html %}{% endif %}
      <div class="post large-4 medium-4 columns" style="display:none;">
        {% assign author = site.data.authors[page.author] %}
        {% include post-grid/page.html %}
      </div>
    <script>
    //get the movie info from IMDB
    $.ajax({
      
      url: "http://omdbapi.com/?i={{ page.imdb }}",
      dataType: 'jsonp',
      success: function(data) {
        var html = '<div class="row imdb-info-row no-border full-width">';
        //html += '<img class="imdb-img" src="' +data.Poster +'" />';
        html += '<img class="imdb-img" src="http://img.omdbapi.com/?i={{ page.imdb }}&apikey=bc6b02e2&h=450" /><br />';
        html += '<span class="imdb-category">Directed by</span><br /><span class="imdb-data">' + data.Director.replace(/\,/g, '<br />') +'</span>';
        html += '</div>';
        html += '<div class="row imdb-info-row">';
        html += '<span class="imdb-category">Written by</span><br /><span class="imdb-data">';
        var writers = data.Writer;
        var writers_array = writers.split(',');

        for(var i = 0; i < writers_array.length; i++) {
           // Trim the excess whitespace.
           writers_array[i] = writers_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
           // Add additional code here, such as:
           if ((writers_array[i].indexOf('characters') == -1) && (writers_array[i].indexOf('story') == -1) && (writers_array[i].indexOf('creator') == -1) && (writers_array[i].indexOf('screen story') == -1) && (writers_array[i].indexOf('television story') == -1) && (writers_array[i].indexOf('article') == -1) && (writers_array[i].indexOf('additional') == -1) && ((writers_array[i].indexOf('play') == -1) || (writers_array[i].indexOf('screenplay') > -1)) && (writers_array[i].indexOf('song') == -1) && (writers_array[i].indexOf('uncredited') == -1) && (writers_array[i].indexOf('also') == -1) && (writers_array[i].indexOf('book') == -1) && (writers_array[i].indexOf('novel') == -1) && (writers_array[i].indexOf('based on') == -1)){
           html += writers_array[i].replace('(screenplay)', '').replace('(written by)', '').replace('(written for the screen by)', '') + '<br />';
           }
        }
        html += '</span>';
        html += '</div>';
        html += '<div class="row imdb-info-row">';
        html += '<span class="imdb-category">Starring<br /></span><span class="imdb-data">'+ data.Actors.replace(/\,/g, '<br />') +'</span>';
        html += '</div>';
        $('#film-info').append(html);
        html += '</div>';
      }
    });
    </script>
