<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.section == "Content" %}<meta property="og:image" content="/img/article/thumb-600/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}" />{% endif %}
    <title>{% if page.home %}{% else %}{{page.title}} | {%endif %}Dear Cast & Crew{% if page.home %} | Movie Reviews, News, and Contests{% endif %}</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    
    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-31798116-1', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    
    </script>
    
    <!-- Foundation 5.0 -->
    
    <link rel="stylesheet" href="/css/foundation.css" />
    
    <!-- Fontawesome 4.0.3 -->
    
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  	<link href="/css/tooltipster.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/jquery.mmenu.css" type="text/css" rel="stylesheet" />
    
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/vendor/jquery.mmenu/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript" src="/js/hyphenate.js"></script>
    
    <!--Initialize the menu -->

    <script>
    $(function() {
      $('nav#menu-left').mmenu({
      });
      $("#nav-toggle").click(function(){
        $('nav#menu-left').css({'display':'block'});
        $('#nav-header').css({'display':'block'});
      });
      $("#mm-blocker").click(function() {
        $("#my-menu").trigger("close.mm");
        $('nav#menu-left').css({'display':'none'});
        $('#nav-header').css({'display':'none'});
      });
    });
		</script>

    <!-- Custom styles for this template -->
  
    <link href="/css/dcac.css" rel="stylesheet" />
    {% case page.section %}
    {% when 'Content' %}
    <style>
    .title-img-fade {
    background-image: -webkit-linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,0.9) 100%
      ),
      url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    background-image: -moz-linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,0.9) 100%
      ),
      url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    background-image: -o-linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,0.9) 100%
      ),
      url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    background-image: 
      linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,0.9) 100%
      ),
      url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    }
    .title-img {
      background-image: url('/img/article/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %}');
    }
  </style>
    {% endcase %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>


  <body>
{% include left-nav.html %}
    <div>
      <div class="container-shadow{% if post.layout == "review" %} review-fix{% endif %}" id="main-container">    
        {{layout}}{{content}}
      </div>
{% include footer.html %}
    </div>
  
  <!-- Search modal overlay -->
  
    <div id="search-modal" class="search-modal">
       <div class="search-head">
        <div><button class="close-x"></button></div>
        <div id="search" class="search-form">
          <form method="get" id="search-form">
            <input type="text" id="search-query" class="search-query" name="q" placeholder="type to search" autocomplete="off" autofocus>
          </form>
        </div>
      </div>
      <section id="search-results" class="search-results">
        <div class="entries">
        </div>
      </section>
      <!-- <script type="text/javascript" src="/js/search.min.js"></script> -->
      {% raw %}
      <script id="search-results-template" class="search-results-template" type="text/mustache">
        {{#entries}}
          <div class="search-results-article">
            <a href="{{url}}"><div class="search-image"><img src="/img/article/thumb-300/{{image}}" /></div>
            <div class="search-result">
              <h1 class="search-title">{{title}}</h1>
              <p class="search-addressee">Dear {{addressee}}, {{position}}</p>
              <p class="search-author">By {{author}}</p>
              <!-- <p class="search-date">{{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}</p> -->
            </div></a>
          </div>
        {{/entries}}
      </script>
      (% endraw %}
      
      <script type="text/javascript">
        $(function() {
          $('#search-query').lunrSearch({
            index:    '/search.json',
            results:  '#search-results',
            entries:  '.entries',
            template: '#search-results-template'
          });
        });
      </script>
    
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
    	if (window.location.hostname == 'localhost') return;
    	
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e5d0698f5a1f52b46000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>

<!-- Search --> 
    <script>
      function resetForm($form) {
        $form.find('input:text, input:password, input:file, select, textarea').val('');
        $form.find('input:radio, input:checkbox')
        .removeAttr('checked').removeAttr('selected');
      }

      $(document).keyup(function(e){
        if(e.keyCode === 27) {
          $("#search-modal").css("display","none");
          $("body").css("overflow","auto");
          resetForm($('#search'));
        }
      });
      $('#nav-toggle').click(function(){
        $("#menu-left").trigger("open");
            $('#nav-button-container').css({'display':'none'});
            $('#film-info').fadeOut('fast');
            $('#side-row').fadeOut('fast');
      });
      $('#menu-toggle-top').click(function(){
        $("#menu-left").trigger("open");
        $('#film-info').fadeOut('fast');
        $('#side-row').fadeOut('fast');
      });
      $("#menu-left")
       .mmenu()
       //.trigger( "open.mm" )
       .on(
          "closed.mm",
          function()
          {
            $('#nav-button-container').fadeIn('slow');
            $('#film-info').fadeIn('slow');
            $('#side-row').fadeIn('slow');
            $('#body-text').waypoint(function(){
              $('#nav-button-container').css({'display':'none'});
            });
          }
       );
      $('#side-search-toggle,#footer-search-toggle,#top-search-toggle,#mini-top-search-toggle').click(function(){
        $("#search-modal").css("display","block");
        $('#nav-button-container').css({'display':'none'});
        $("body").css("overflow","hidden");
      });
      $('button.close-x').click(function(){
        $("#search-modal").css("display","none");
        $("body").css("overflow","auto");
        resetForm($('#search'));
      });
      
    </script>
    <script type="text/javascript" src="/bower_components/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="/bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  	<script type="text/javascript" src="/vendor/waypoints/waypoints.js"></script>
  	<script type="text/javascript" src="/js/infinite-jekyll.js"></script>
  	<script type="text/javascript" src="/js/film-roles.js"></script>
    <script type="text/javascript" src="/vendor/tooltipster/jquery.tooltipster.min.js"></script>
  	<script type="text/javascript" src="/vendor/contentshare/contentshare.ct.js"></script>
  	<script type="text/javascript" src="/vendor/stellar/jquery.stellar.min.js"></script>
    <script src="/vendor/lunr.js" type="text/javascript" charset="utf-8"></script>
    <script src="/vendor/mustache.js" type="text/javascript" charset="utf-8"></script>
    <script src="/vendor/date.format.js" type="text/javascript" charset="utf-8"></script>
    <script src="/vendor/URI.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/vendor/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
  	<script type="text/javascript" src="/js/main2.js"></script>
  	<script>
    $(window).bind("load", function() {
      $.getScript("/js/onload.actions.js");
    });
    Modernizr.addTest('svgasimg', document.implementation.hasFeature('http://www.w3.org/TR/SVG11/feature#Image', '1.1'));

    if (!Modernizr.svgasimg) {
      //alert("hi!");
      $('img[src*="svg"]').attr('src', function() {
          return $(this).attr('src').replace('.svg', '.png');
      });
    }
    </script>
  </body>
</html>
