---
layout: default
---
     {% include top-nav.html %}
      <section>
        {% include share.html %}
      </section>
{% assign author = site.data.authors[page.author] %}
{% if page.custom-header %}
     {% include {{page.header-file}} %}
{% else %}
      <section id="feature-hero">
        <div id="story-title" class="title-info">
          <div id="title-img" data-stellar-background-ratio=".25"></div>
          <div class="row collapse">
            <div class="large-4 medium-4 columns feature-title-height">
              <div class="feature-title-text">
                <h1 class="{% if page.title-display == "image"%}feature-hero-hidden{%else%}feature-hero{%endif%}">{{ page.title }} {{ page.title-display }}</h1>
                <div class="translucent-box clearfix">
                  <div class="feature-info">
                    <h2 class="feature-hero-author">
                      By {{ author.name }} 
                    </h2>
                    <h2 class="feature-hero-date hidden-for-medium-up">
                      Mailed on {{ page.date | date: "%B %d, %Y" }}
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endif %}
      <section id="body-text">
        <div class="row">
          <div class="large-2 medium-2 columns side-spacer hide-for-small-only"></div>
          <div class="large-8 medium-8 columns" id="review-copy">
            {% if page.addressee %}
            <p class="intro">Dear {{ page.addressee }},</p>
            {% endif %}
            {% assign author-sig = page.author %}{{ content | replace_first: '<p>','<p class="intro">' }}
            {% if author.bio %}{% include signature.html %}{% endif %}
            {% contentblock postscript %}
          </div>
          <div class="large-2 medium-2 columns side-spacer hide-for-small-only"></div>
        </div>
        {% include related-articles.html %}
      </section>
      {% include disqus.html %}
      <div class="post large-4 medium-4 columns" style="display:none;">
        {% assign author = site.data.authors[page.author] %}
        {% include post-grid/page.html %}
      </div>
