---

css: home.css
title: Reviews
---

          <div class="row" id="load-posts-area">
            {% for post in paginator.posts %}
             <div class="post large-4 medium-4 columns">
              <a href="{{ post.url }}" class="thumbnail"><img src="/assets/img/posts/thumb-300/{{ post.image }}" alt="{{ post.title }}" /></a>
              <a href="{{ post.url }}">
                <div class="review-text">
                  <h1>{{ post.title }}</h1>
                  <h2 class="star-rating">{% for i in (1..post.stars) %}<i class="fa fa-star"></i>{% endfor %}{% assign half_star = post.stars | modulo:1 %}{% if half_star > 0 %}<i class="fa fa-star-half-o"></i>{% endif %}{% assign empty_stars = 5 | minus: post.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<i class="fa fa-star-o"></i>{% endfor %}{% endif %}</h2>
                  <h2 class="addressee">Dear {{ post.addressee }}, {{ post.position }}</h2>
                  <h2 class="author">By {{ post.author }}{{ post._ga }}</h2>
                </div>
              </a>
            </div>
          {% endfor %}
          {% paginator.next_page_path %}
          </div>