    <footer class="footer">
      <div id="footer-links">
      <button class="footer">Dear Cast &amp; Crew</button>
        <nav>
          <a class="footer-head">Reviews</a>
          <a class="footer-link">Latest</a>
          <a class="footer-link">In Theatres</a>
          <a class="footer-link">On Demand</a>
        </nav>
        <nav>
          <a class="footer-head">Podcast</a>
          <a class="footer-link">Archive</a>
        </nav>
        <nav>
          <a class="footer-head">Features</a>
          <a class="footer-link">Essays</a>
          <a class="footer-link">Series</a>
          <a class="footer-link">Lists</a>
        </nav>
        <nav>
          <a class="footer-head"><a href="#" class="navbar-link" ><i class="fa fa-search" id="search-toggle"></i></a>Search</a>
        </nav>
        <span class="stretch"></span>
        <p class="copyright">Copyright &copy; 2012-14 Dear Cast & Crew. All rights reserved.</p>
      </div>
    </footer>