<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Dear Cast & Crew • {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

  <section id="footer">
    <footer class="footer">
      <div id="footer-links">
      <button class="footer">Dear Cast &amp; Crew</button>
        <nav>
          <a class="footer-head">Reviews</a>
          <a class="footer-link">Latest</a>
          <a class="footer-link">In Theatres</a>
          <a class="footer-link">On Demand</a>
        </nav>
        <nav>
          <a class="footer-head">Podcast</a>
          <a class="footer-link">Archive</a>
        </nav>
        <nav>
          <a class="footer-head">Features</a>
          <a class="footer-link">Essays</a>
          <a class="footer-link">Series</a>
          <a class="footer-link">Lists</a>
        </nav>
        <nav>
          <a class="footer-head">Search</a>
          <form method="get">
            <input type="text" class="search" />
          </form>
        </nav>
        <span class="stretch"></span>
        <p class="copyright">Copyright &copy; 2012-14 Dear Cast & Crew. All rights reserved.</p>
      </div>
    </footer>
  </section>
   <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
        $("#footer").toggleClass("sidebar-active");
        $("#main-title").toggleClass("sidebar-active");
        $("#page-content-wrapper").toggleClass("sidebar-active");
        $("#menu-toggle").toggleClass("sidebar-active");
    });
    $("#page-content-wrapper").click(function(e) {
        e.preventDefault();
        $("#wrapper").removeClass("active");
        $("#footer").removeClass("sidebar-active");
        $("#main-title").removeClass("sidebar-active");
        $("#page-content-wrapper").removeClass("sidebar-active");
        $("#menu-toggle").removeClass("sidebar-active");
    });
    </script>
</body>
</html>
