---
layout: default
---
     {% include top-nav.html %}
     {% assign author = site.data.authors[page.author] %}
      <section>
        {% include share.html %}
      </section>
      <section>
        <div id="story-title" class="title-info">
          <div id="title-img" class="title-img" data-stellar-background-ratio=".25"></div>
          <div class="row" id="title-info">
            <div class="large-4 medium-4 columns collapse status-row" data-stellar-ratio="1.1">
              <div class="review-status">
                <div class="title-block">
                  <h1 class="hero hyphenate">{{ page.title }}</h1>
                  <h2 class="hero-author">
                    By {% if author.profiled %}<a href="/writers/{{ page.author }}">{% endif %}{{ author.name }}{% if author.profiled %}</a>{% endif %}
                  </h2>
                  <h2 class="hero-date">
                    Mailed on {{ page.date | date: "%B %d, %Y" }}
                  </h2>
                {% if page.stars %}<hr class="title-divider" />{% endif %}
                </div>
                {% if page.stars %}<div class="status-container">
                  <img src="/assets/img/global/icons/stamp-blue.svg" class="standard review-stamp" alt="Stamp image" />
                {% if page.stars < 1.5 %}Junk<br />Mail{% elsif page.stars >= 1.5 and page.stars < 2.5 %}Return to<br />Sender{% elsif page.stars >= 2.5 and page.stars < 3.5 %}Standard<br />Delivery{% elsif page.stars >= 3.5 and page.stars < 4.5  %}Air<br />Mail{% elsif page.stars >= 4.5 %}Priority<br />Post{% endif %}<br />
                  <div class="large-star-rating">
                    {% if page.stars == 0 %}<img class="zero-star-large" src="/assets/img/global/stars/zero-star-blue.svg" alt="" />{% else %}{% for i in (1..page.stars) %}<img class="star-large" src="/assets/img/global/stars/star-blue.svg" alt="Star"/>{% endfor %}{% assign half_star = page.stars | modulo:1 %}{% if half_star > 0 %}<img class="star-large" src="/assets/img/global/stars/star-blue-half.svg" alt="Half Star" />{% endif %}{% assign empty_stars = 5 | minus: page.stars %}{% if empty_stars != 0 %}{% for i in (1..empty_stars) %}<img class="star-large" src="/assets/img/global/stars/star-white.svg" alt="Empty Star" />{% endfor %}{% endif %}{% endif %}
                  </div>
                </div>{% endif %}
              </div>
            </div>
            <div class="large-8 medium-8 columns collapse people-row" data-stellar-ratio="1.1">
              <div class="review-people">
                <h3><span class="addressee hyphenate">Dear {{ page.addressee }}</span><br />
                  {% assign positionSize = page.position | size %}{% if positionSize > 20 %}<span class="position-small-txt hyphenate">{% else %}<span class="position hyphenate">{% endif %}{{ page.position }}</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="body-text">
        <div class="row">
          <div class="large-4 medium-4 columns hide-for-small-only" id="film-row">
            <div id="review-sidebar">
              <div id="film-info" class="film-info">
             </div>
            </div>
          </div>
          <div class="large-8 medium-8 columns" id="review-copy">
            {% if page.split_name %}{% assign name = page.addressee | split: ' ' %}
            <p class="intro hide-for-small">Dear {{ name.first }},</p>
            {% else %}<p class="intro hide-for-small">Dear {{ page.addressee }},</p>{% endif %}
            {{ content | replace_first: '<p>','<p class="intro">' }}
            {% if author.bio %}{% include signature.html %}{% endif %}
            {% contentblock postscript %}
            {% if page.categories contains "series" %}
              {% for post in site.categories['series-index'] %}
              {% if post.series-name == page.series-name %}
              <p><a href="{{ post.url }}">Read all of Dear Cast &amp; Crew's {{ page.series-name }} coverage.</a></p>
              {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% include related-articles.html %}
      </section>
      {% if page.comments %}{% include disqus.html %}{% endif %}
      <div class="post large-4 medium-4 columns" style="display:none;">
        {% assign author = site.data.authors[page.author] %}
        {% include post-grid/page.html %}
      </div>
    <script>
    $.ajax({
      
      url: "http://omdbapi.com/?i={{ page.imdb }}",
      dataType: 'jsonp',
      success: function(data) {
        var html = '<div class="row imdb-info-row no-border full-width">';
        html += '<img class="imdb-img" src="http://img.omdbapi.com/?i={{ page.imdb }}&apikey=bc6b02e2&h=450" /><br />';
        html += '<span class="imdb-category">Directed by</span><br /><span class="imdb-data">' + data.Director.replace(/\,/g, '<br />') +'</span>';
        html += '</div>';
        html += '<div class="row imdb-info-row">';
        html += '<span class="imdb-category">Written by</span><br /><span class="imdb-data">';
        var writers = data.Writer;
        var writers_array = writers.split(',');

        for(var i = 0; i < writers_array.length; i++) {
           writers_array[i] = writers_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
           if ((writers_array[i].indexOf('characters') == -1) && (writers_array[i].indexOf('story') == -1) && (writers_array[i].indexOf('creator') == -1) && (writers_array[i].indexOf('screen story') == -1) && (writers_array[i].indexOf('television story') == -1) && (writers_array[i].indexOf('article') == -1) && (writers_array[i].indexOf('additional') == -1) && ((writers_array[i].indexOf('play') == -1) || (writers_array[i].indexOf('screenplay') > -1)) && (writers_array[i].indexOf('song') == -1) && (writers_array[i].indexOf('uncredited') == -1) && (writers_array[i].indexOf('also') == -1) && (writers_array[i].indexOf('book') == -1) && (writers_array[i].indexOf('novel') == -1) && (writers_array[i].indexOf('based on') == -1)){
           html += writers_array[i].replace('(screenplay)', '').replace('(written by)', '').replace('(written for the screen by)', '') + '<br />';
           }
        }
        html += '</span>';
        html += '</div>';
        html += '<div class="row imdb-info-row">';
        html += '<span class="imdb-category">Starring<br /></span><span class="imdb-data">'+ data.Actors.replace(/\,/g, '<br />') +'</span>';
        html += '</div>';
        $('#film-info').append(html);
        html += '</div>';
      }
    });
    </script>