<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Dear Cast & Crew • {{ page.title }}</title>
	<meta name="description" content="" />
  <meta name="keywords" content="" />
	<meta name="robots" content="" />
	
	
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="js/waypoints.js"></script>
	<script type="text/javascript" src="js/waypoints-sticky.min.js"></script>
  <script type="text/javascript" src="js/jquery.tooltipster.min.js"></script>
	<script type="text/javascript" src="js/contentshare.ct.js"></script>
	<script type="text/javascript" src="js/js.js"></script>
	
	<link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet" />
	<link href="css/article.css" type="text/css" rel="stylesheet" />
	<link href="css/animate.css" type="text/css" rel="stylesheet" />
	<link href="css/simple-sidebar.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/tooltipster.min.css" />

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

  <section id="footer">
    <footer class="footer">
      <div id="footer-links">
      <button class="footer">Dear Cast &amp; Crew</button>
        <nav>
          <a class="footer-head">Reviews</a>
          <a class="footer-link">Latest</a>
          <a class="footer-link">In Theatres</a>
          <a class="footer-link">On Demand</a>
        </nav>
        <nav>
          <a class="footer-head">Podcast</a>
          <a class="footer-link">Archive</a>
        </nav>
        <nav>
          <a class="footer-head">Features</a>
          <a class="footer-link">Essays</a>
          <a class="footer-link">Series</a>
          <a class="footer-link">Lists</a>
        </nav>
        <nav>
          <a class="footer-head">Search</a>
          <form method="get">
            <input type="text" class="search" />
          </form>
        </nav>
        <span class="stretch"></span>
        <p class="copyright">Copyright &copy; 2012-14 Dear Cast & Crew. All rights reserved.</p>
      </div>
    </footer>
  </section>
   <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
        $("#footer").toggleClass("sidebar-active");
        $("#main-title").toggleClass("sidebar-active");
        $("#page-content-wrapper").toggleClass("sidebar-active");
        $("#menu-toggle").toggleClass("sidebar-active");
    });
    $("#page-content-wrapper").click(function(e) {
        e.preventDefault();
        $("#wrapper").removeClass("active");
        $("#footer").removeClass("sidebar-active");
        $("#main-title").removeClass("sidebar-active");
        $("#page-content-wrapper").removeClass("sidebar-active");
        $("#menu-toggle").removeClass("sidebar-active");
    });
    </script>
</body>
</html>
