---
layout: default
---
      {% include top-nav.html %}
      <section>
        {% include share.html %}
      </section>
       <section id="feature-hero">
        <div id="story-title" class="title-info">
          <a href="{{ post.url }}">
            <div id="title-img" data-stellar-background-ratio=".25" alt="Main Image"></div>
            <div class="row collapse">
              <div class="large-4 medium-4 columns feature-title-height">
                <div class="feature-title-text">
                  <h1 class="feature-hero">{{ page.title }}</h1>
                  <div class="translucent-box clearfix">
                    <div class="feature-info">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </section>
      <section class="main-copy">
        <div class="row series-intro">
          <div class="large-2 medium-2 columns side-spacer hide-for-small-only"></div>
          <div class="large-8 medium-8 columns" id="series-copy">
            {{ content }}
          </div>
          <div class="large-2 medium-2 columns side-spacer hide-for-small-only"></div>
        </div>
        <div class="row">
          <div class="large-2 medium-2 columns side-spacer hide-for-small-only"></div>
          <div class="large-8 medium-8 columns">
        {% for post in site.categories['series'] reversed %}
        {% if post.series-name == page.series-name and post.date == page.date%}
        {% assign author = site.data.authors[post.author] %}
            <div class="postcard-review">
             {% include postcard-review.html %}
            </div>
        {% endif %}
        {% endfor %}
          </div>
          <div class="large-2 medium-2 columns side-spacer hide-for-small-only"></div>
        </div>
      </section>
      {% include related-articles.html %}
      {% include disqus.html %}
      
