---
layout: default
css: article.css
---
      {% include top-nav.html %}
       <section id="feature-hero">
        <div id="story-title" class="title-info">
          <a href="{{ post.url }}">
            <div class="title-img" style="background-image:url(/img/features/main/{% if page.image contains ".jpg" %}{{page.image }}{% else %}{{ page.title | handleize }}.jpg{% endif %});" data-stellar-background-ratio=".25" alt="Main Image"></div>
            <div class="row collapse">
              <div class="large-4 medium-4 columns feature-title-height">
                <div class="feature-title-text">
                  <h1 class="feature-hero">{{ page.title }}</h1>
                  <div class="translucent-box clearfix">
                    <div class="feature-info">
                      <h2 class="feature-sub-title">
                       A Dear Cast &amp; Crew Series
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </section>
      <section class="main-copy">
        <div class="row">
          <div class="large-12 medium-12 columns collapse" id="review-copy">
            {{ content }}
          </div>
        </div>
        <div class="writer-articles">
          <div class="row collapse">
            <div class="large-12 columns collapse writer-head-block">
              <h1 class="writer-articles-header">The Movies</h1>
              <hr class="writer-articles-rule">
            </div>
          </div>
        </div>
        <div class="row posts-grid" id="posts-grid">
    {% for post in site.categories['series'] %}
          <div class=" section-post large-4 medium-4 small-6 columns left{% if forloop.last %} end{% endif %}">
    {% if post.series-name == page.series-name %}
    {% assign author = site.data.authors[post.author] %}
            {% include post-grid/post.html %} 
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </section>
      {% include disqus.html %}
      
