<div class="mini-top-nav-hidden mm-fixed-top" id="mini-top-nav">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name dcac-logo" id="nav-toggle"></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="search" id="mini-top-search-toggle"><a href="#" class="mini-search-link"><i class="fa fa-search"></i></a></li>
          </ul>
          <ul class="left">
            {% for post in site.categories['reviews'] limit:1 %}
            {% assign author = site.data.authors[post.author] %}
            <li><a href="{{ post.url }}" class="latest-review"><strong>Latest review: </strong><em>{{ post.title }}</em> - Dear {{ post.addressee }}, {{ post.position }}</a></li>
            {% endfor %}
          </ul>
        </section>
      </nav>
    </div>
            <section id="feature-hero-home">
              <div id="home-feature" class="title-info">
                <div class="row collapse">
                    <div class="section-header">
                        <section class="feature-top-nav" id="feature-top-nav">
                            <a href="/" class="feature-logo-link"></a>
                            <ul>
                                <li><a href="/reviews/" class="nav-text">Reviews</a></li>
                                <li><a href="/features/" class="slash nav-text">Features</a></li>
                                <!-- <li><a href="/podcast/">Podcast</a></li> -->
                                <li><a href="/writers/" class="slash nav-text">Writers</a></li>
                                <li><a href="#" id="top-search-toggle" class="top-search-toggle slash nav-text"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </section>
                    </div>
                </div>
                  <a href="/content/2017/4/20/top-five-reviews-by-our-hearts.html">
	                <div id="home-feature-img" class="home-feature-img" aria-labelledby="Top Five Films By Our Heats" style="background-image: url('/assets/img/home/feature/5th-anniversary/top-five-films-by-our-hearts.jpg');"></div>
                  </a>
            </div>
          </section>