<style>
      .title-img-fade {
      background-image: -webkit-linear-gradient(left, 
          rgba(0,0,0,0.9) 0%, 
          rgba(0,0,0,0) 20%,
          rgba(0,0,0,0) 80%,
          rgba(0,0,0,0.9) 100%
        ),
        url('/img/home/custom/best-of-2014/nightcrawler.jpg');
      background-image: -moz-linear-gradient(left, 
          rgba(0,0,0,0.9) 0%, 
          rgba(0,0,0,0) 20%,
          rgba(0,0,0,0) 80%,
          rgba(0,0,0,0.9) 100%
        ),
        url('/img/home/custom/best-of-2014/nightcrawler.jpg');
      background-image: -o-linear-gradient(left, 
          rgba(0,0,0,0.9) 0%, 
          rgba(0,0,0,0) 20%,
          rgba(0,0,0,0) 80%,
          rgba(0,0,0,0.9) 100%
        ),
        url('/img/home/custom/best-of-2014/nightcrawler.jpg');
      background-image: 
        linear-gradient(left, 
          rgba(0,0,0,0.9) 0%, 
          rgba(0,0,0,0) 20%,
          rgba(0,0,0,0) 80%,
          rgba(0,0,0,0.9) 100%
        ),
        url('/img/home/custom/best-of-2014/nightcrawler.jpg');
      }
      .title-img {
        background-image: url('/img/home/custom/best-of-2014/nightcrawler.jpg');
      }
    </style>
    <section id="hero-home">
      <div id="story-title" class="title-info">
         <a href="/content/2015/1/5/yes-nightcrawler-is-the-best-film-of-2014.html">
            <div id="title-img" class="title-img" style=""></div>
            <div class="row collapse">
              
              <div class="large-4 medium-4 columns home-title-height">
                <div class="hero-title-text">
                  <!-- <h1 class="hero-home-best-of-title">Yes, Nightcrawler is the Best Film of 2014</h1> -->
                </div>
              </div>
            </div>
          </a>
        </div>
      </section>