<section id="hero-home">
        <div id="home-feature" class="title-info">
          <a href="/content/2014/09/05/tiff-2014.html">
            <div id="home-feature-img" class="home-feature-img" style="background-image: url('/img/article/main/tiff-2014.jpg');"></div>
          </a>
          <div class="row collapse">
            <div class=" hero-height">
              <div class="link-container" data-stellar-ratio="1.1">
                <ul>
                  <li><a href="/content/2014/9/4/tiff-2014-day-one.html"><span class="month">Sep</span><span class="day">4</span><img src="/img/home/feature/4.jpg" /></span></a></li>
                  <li><a href="/content/2014/9/5/tiff-2014-day-two.html"><span class="day">5</span><img src="/img/home/feature/5.jpg" /></a></li>
                  <li><a href="/content/2014/9/6/tiff-2014-day-three.html"><span class="day">6</span><img src="/img/home/feature/6.jpg" /></a></li>
                  <li class="today"><a href="/content/2014/9/7/tiff-2014-day-four.html"><span class="day">7</span><img src="/img/home/feature/7.jpg" /></a></li>
                  <li class="future"><span class="day">8</span></li>
                </ul>
                <p>The Toronto International Film Festival. Day Four.</p>
              </div>
            </div>
          </div>
        </div>
      </section>