<section id="feature-hero-home">
              <div id="home-feature" class="title-info">
                <div class="row collapse">
                    <div class="section-header">
                        <section class="feature-top-nav" id="feature-top-nav">
                            <a href="/" class="feature-logo-link"></a>
                            <ul>
                                <li><a href="/reviews/" class="nav-text">Reviews</a></li>
                                <li><a href="/features/" class="slash nav-text">Features</a></li>
                                <!-- <li><a href="/podcast/">Podcast</a></li> -->
                                <li><a href="/writers/" class="slash nav-text">Writers</a></li>
                                <li><a href="#" id="top-search-toggle" class="top-search-toggle slash nav-text"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </section>
                    </div>
                </div>
                <div id="home-feature-img" class="home-feature-img" style="background-image: url('/assets/img/home/feature/star-wars-week/2.jpg');"></div>
              <div class="row collapse">
                <div class="hero-height-stamps">
                  <div class="film-strip">
                    <div id="film-links">
                      <ul id="sw-films">
                          <li class="other-day"><span class="day">I</span></li>
                          <li class="other-day"><span class="day">II</span></li>
                          <li class="other-day"><span class="day">III</span></li>
                          <li class="future"><a href="/content/2015/12/12/star-wars.html"><img src="/assets/img/home/feature/star-wars-week/iv-sub.jpg" /><span class="day">IV</span></a></li>
                          <li class="today"><a href="/content/2015/12/13/the-empire-strikes-back.html"><img src="/assets/img/home/feature/star-wars-week/v-sub.jpg" /><span class="day">V</span></a></li>
                          <li class="other-day"><span class="day">VI</span></li>
                          <li class="other-day"><span class="day">VII</span></li>
                      </ul>
                    </div>
                  </div>
                  <a href="/content/2015/12/13/the-empire-strikes-back.html">
                    <div id="stamps-title">
                      <p class="stamps">Star Wars Week - The Empire Strikes Back<br />
                        <span class="home-feature-author">By Casey Tourangeau</span></p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </section>