---
css: home.css
title: Streaming
section: Reviews
layout: default
---

    {% include top-nav.html %}
      {% include reviews-nav.html %}
      <div class="row posts-grid" id="posts-grid">
        {% for post in paginator.posts %}
        {% assign author = site.data.authors[post.author] %}
         <div class="section-post large-4 medium-4 columns{% if forloop.last %} end{% endif %}">
           {% include post-grid/post.html %}
         </div>
        {% endfor %}
      </div>
      <div class="row center">
        <ul class="pagination">
            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="current">{{ page }}</li>
            {% elsif page == 1 %}
              <li><a href="/reviews/streaming/">{{ page }}</a></li>
            {% else %}
              <li><a href="/reviews/streaming/page{{ page }}/">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if paginator.previous_page %}
            <li><a href="/{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-step-backward"></i></a></li>
          {% else %}
            <li class="previous off"><i class="fa fa-step-backward"></i></li>
          {% endif %}
          {% if paginator.next_page %}
            <li><a href="/{{ page.section | downcase }}/{{ page.title | downcase }}{{ paginator.next_page_path }}" class="next"><i class="fa fa-step-forward"></i></a></li>
          {% else %}
            <li class="next off"><i class="fa fa-step-forward"></i></li>
          {% endif %}
        </ul>
      </div>